[2021-04-12 15:21] jurosens opened #1 "feat: initial app frame"
Create initial version of project for android app

[2021-04-12 15:21] jurosens opened #2 "feat: support scanning of QR codes"

[2021-04-12 15:21] jurosens opened #3 "feat: decode certificate"

[2021-04-12 15:22] jurosens opened #4 "feat: check signature"

[2021-04-12 15:22] jurosens opened #5 "feat: download keys"
download keys
* on request
* on startup

[2021-04-19 07:13] jurosens opened #6 "feat: view certificate"
## Feature description

Display decoded certificate on screen

[2021-04-19 09:03] #1 closed, assigned to MykhailoNester

[2021-04-19 09:05] #2 closed, assigned to MykhailoNester

[2021-04-19 14:17] #3 closed, assigned to MykhailoNester

[2021-04-26 10:38] #4 closed

[2021-04-26 10:39] MykhailoNester commented on #4
Signature validation works and available on latest `develop` branch

[2021-04-27 16:39] MykhailoNester commented on #5
Merged in PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/7

[2021-04-27 16:39] #5 closed

[2021-04-28 06:58] yspreen opened #10 "Secure local pubkey storage"

[2021-04-30 08:05] oleksandrsarapulovgl opened #12 "Periodic public keys fetching"
Implement mechanism for periodic public keys fetching, to be done each 24 hours, and retried if it's failed somewhere

[2021-04-30 08:30] #10 closed

[2021-05-02 10:21] SchulzeStTSI opened #16 "Extract Kotlin Verifier Code in a seperate library"
The android app contains verifier code which can be used in the backend for testing as well. To support this, the code must be outsourced into a seperate library.

[2021-05-02 10:56] SchulzeStTSI opened #17 "Add Support for ECDSA in Verifier Functionality"
Currently the android verifier supports only RSAPSS, please add ECDSA.

[2021-05-05 10:07] oleksandrsarapulovgl commented on #16
Closed at PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/20

[2021-05-05 10:07] oleksandrsarapulovgl commented on #12
Closed at PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/20

[2021-05-05 10:07] #12 closed

[2021-05-05 10:07] MykhailoNester commented on #17
PR: #21

[2021-05-05 10:07] #17 closed

[2021-05-05 15:03] oleksandrsarapulovgl commented on #16
Fixed at:

https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/22
https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/4

[2021-05-05 15:03] #16 closed

[2021-05-06 10:40] MykhailoNester commented on #6
Closed in PR #23

[2021-05-06 10:40] #6 closed

[2021-05-07 06:47] ggrund-tsi opened #24 "deliver APK by android"

[2021-05-07 13:41] #24 closed

[2021-05-12 12:40] psavva opened #29 "Certificate Verification Fails"
## Describe the bug

I am generating the QR Code using the WEB frontend template application.
Upon scanning the QR Code with the Verifier App, I am consistently getting an error "Verification failed: failed to load certificate"

## Expected behaviour

Verification should be successfull.

## Steps to reproduce the issue

1) Installed DGC Issuer Service, DGC Verifier Service.
2) Uploaded all require

[2021-05-12 14:09] psavva commented on #29
Digging a little deeper, there is either a bug on the web that is generating the QR Code, or there is a bug with the android library that extracts or decompress CBOR.

[2021-05-12 19:01] psavva commented on #29
And a lot more digging, I have found the issue!

There is an inconsistency between Base64 URL Safe Encoding and Base64 Encoding not consider URL.
When Generating the KID and it's sent to the Verification service, it's generated and Base64 Encoded (not url safe).
However, when the QR Code is presented on the Web, and on the Android App, it's Base64 Encoded URL Safe!

1) Download of the Public Certs

[2021-05-13 07:29] psavva commented on #29
In the TEST environment, the following records are affected:

[code]

[code]

[code]

[code]

[code]
and

[code]

[2021-05-13 11:45] SchulzeStTSI commented on #29
@psavva Thanks for the report. We analyze it now.

[2021-05-13 11:50] yspreen commented on #29
@psavva Do you have a QR code that exhibits this error? Would love to check if it's a problem on iOS as well. Thanks

[2021-05-13 11:54] yspreen commented on #29
@psavva I'm also confused by the error in the first place. A KID is a byte array, not a string. It can be represented internally as a b64 string, but that's not used in signature validation. We have public keys which are turned into a byte array KID, and we have COSE objects that reference these byte array KIDs. No string conversion needed to verify signatures.

[2021-05-13 12:02] psavva commented on #29
Hi @yspreen,

First Question, here is a QR Code :)

![PositiveCovidDGC](https://user-images.githubusercontent.com/1454758/118122697-e11efe00-b3fb-11eb-95cc-d4bc34b59b56.PNG)

For the second question, as you know the KID is a byte array, that is OK, however in the Database, it's stored as Base64 Encoded in the Verifier service (assuming the same in the gateway).

When extracting the KID from the CO

[2021-05-13 12:09] yspreen commented on #29
Thanks for the QR Code. Here's what I observe on iOS:

- The code verifies successfully.
- The KID I receive from the Server is `"2Ga7nn3++CU="`
- The KID I generate on Swift is `"2Ga7nn3++CU="`
- If I make this change, it fails: https://github.com/eu-digital-green-certificates/dgca-app-core-ios/pull/26
- If I make this change and ignore the sanity check here, it works again: https://github.com/eu

[2021-05-13 12:11] psavva commented on #29
And here is some more info if it may help you:

[code]

`CoseData(cbor=[-92, 4, 26, 98, 124, -37, -75, 6, 26, 96, -100, -7, -75, 1, 98, 67, 89, 57, 1, 3, -95, 1, -92, 99, 118, 101, 114, 101, 49, 46, 48, 46, 48, 99, 110, 97, 109, -92, 98, 102, 110, 107, 70, 97, 109, 105, 108, 121, 32, 78, 97, 109, 101, 99, 102, 110, 116, 106, 70, 65, 77, 73, 76, 89, 78, 65, 77, 69, 98, 103, 110, 106, 71, 105, 118,

[2021-05-13 12:14] yspreen commented on #29
As I see it we should just use regular b64 and not URL safe b64. The verifier service should make the change

[2021-05-13 12:15] psavva commented on #29
I think, whichever solution is adopted, it should be consistent amongst all the services and apps :)

[2021-05-13 12:16] yspreen commented on #29
Am I correct with this split?

URL Safe:
- Android App
- Web App

Regular b64:
- iOS
- Verifier Service
- Issuance Service

[2021-05-13 12:19] psavva commented on #29
I can confirm that the Android App is URL Safe.

The Web App, as it's only storing the KID in byte format and not base 64, it makes no difference.
The Verification Service receives the DSC's KID in Regular b64 from the Gateway.
Issuance Service is Regular b64.
iOS, have not reviewed it.

It would probably be enough to modify the Verifier Apps to be Regular b64

[2021-05-13 13:58] oleksandrsarapulovgl commented on #29
Thank you @psavva ! You was right, after fixing base 64 encoding - issue disappeared as kid become correct

[2021-05-13 14:01] oleksandrsarapulovgl commented on #29
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/9

[2021-05-13 14:01] #29 closed

[2021-05-14 09:40] MykhailoNester opened #30 "Settings page with policy"

[2021-05-14 09:49] #30 closed

[2021-05-14 17:44] SchulzeStTSI opened #32 "Positive Test Results must show red and Invalid"
The verifier app in android didn't check for a test result yet, if the value is set to "detected". This should be fixed by adding a content check that the output is like in ios:

<img src="https://user-images.githubusercontent.com/67590336/118307824-806eee80-b4eb-11eb-9fb5-a834efa726db.png" width="200" height="200">

Example:

https://github.com/eu-digital-green-certificates/dgca-app-core-ios/blob

[2021-05-17 08:30] #32 closed

[2021-05-17 09:40] niwla23 opened #34 "Unable to build"
## Describe the bug
I am unable to build this app on manjaro linux

## Expected behaviour
App should build properly

## Steps to reproduce the issue

1. Clone the repo
2. Run ./gradlew build
3. This error appears:
[code]

## Technical details

- Host Machine OS (Windows/Linux/Mac): Manjaro Linux

## Possible Fix

## Additional context

[2021-05-17 09:53] niwla23 commented on #34
Same problem for dgca-wallet-app-android

[2021-05-17 10:46] oleksandrsarapulovgl commented on #34
To make it compiled - you need to have core repository on the same level as verifier/wallet: https://github.com/eu-digital-green-certificates/dgca-app-core-android

[2021-05-17 17:39] fneur opened #35 "Handling of Key Identifiers During Verification Violates Specification"
## Describe the bug

The handling of Key Identifiers (_kid_) during verification violates the following requirement of Sec. 3.3.3 of the
[specification](https://ec.europa.eu/health/sites/default/files/ehealth/docs/digital-green-certificates_v1_en.pdf):

However, given two or more DSCs with the same _kid_,  the code in VerificationViewModel.kt (cf. `decode` function) does not  check all DSCs with t

[2021-05-17 21:11] oleksandrsarapulovgl opened #36 "Implement certificate pinning for Verifier App"

[2021-05-18 11:27] oleksandrsarapulovgl commented on #36
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/37

[2021-05-18 11:27] #36 closed

[2021-05-18 12:10] oleksandrsarapulovgl commented on #35
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/38

[2021-05-18 13:15] oleksandrsarapulovgl commented on #35
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/38

[2021-05-18 13:15] #35 closed

[2021-05-18 14:10] RalicaY opened #39 "In case of a failed verification (RED), the app should only display the reason for the fail"
## Describe the bug
Despite a failed verification, the verifier app shows the certificate data set and no reason for failure is shown.

## Expected behaviour

In case of a failed verification (RED), the app should only display the reason for the fail.

## Steps to reproduce the issue
1. Open verifier app;
2. Scan a QR-Code for an invalid certificate.

## Technical details

Galaxy XCover 4, Modelln

[2021-05-18 14:26] RalicaY opened #40 "No option for triggering manual sync of public keys"
## Describe the bug
There is no way for Android Verifier App to trigger the manual synchronisation of public key as it is in the iOS Verifier App.

## Expected behaviour

The same behaviour should be implemented for both Verifier App versions -- iOS and Android.

## Steps to reproduce the issue

## Technical details
Galaxy XCover 4, Modellnummer: SM-G390F,
Android-Version: 9, Verifier App 1.0.0

#

[2021-05-18 16:00] andypandy47 commented on #34
@oleksandrsarapulovgl that sorted it for me. I struggled with this for quite a while!

I've created a branch to update the build section of the readme with this info but don't have permissions to push to the repo. Can someone update the readme or give me permissions to contribute?

Thanks

[2021-05-19 06:05] daniel-eder commented on #34
@andypandy47 can you create a pull request from your fork?

[2021-05-19 08:25] andypandy47 commented on #34
Ah right, sorry I haven't contributed to a repo before so wasn't aware I had to create my own fork. Have sorted it now though, PR can be found [here](https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/42)

[2021-05-19 12:34] #34 closed

[2021-05-20 10:30] ltranvan commented on #39
Additional info: This behaviour decribed above occures just only for Android-VerifierApp.
IOS-VerifierApp shows only the reason(s) of the failed check (without showing any further datas of the vaccination and the vaccinated person).

[2021-05-20 12:12] oleksandrsarapulovgl commented on #40
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/43

[2021-05-20 14:23] oleksandrsarapulovgl commented on #40
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/43

[2021-05-20 16:06] oleksandrsarapulovgl commented on #39
@ltranvan could you please provide specific QRs and specific expected errors to be displayed?

[2021-05-20 17:20] ltranvan commented on #39
I have ask Ralica to give you the info needed. But in generel i would expect that Android would list the same error message as dieplayed by IOS,isn't it?

[2021-05-20 17:39] ltranvan commented on #40
@oleksandrsarapulovgl
Would you like to describe the reason that you have closed this issue please? The reason has to be described and the issue should be then shifted to "In Test/Retest" for Review before the issues would be closed by the tester.
Please notice, that BUG-Issues should be closed only by the creator of the ticket, after checking/retest the solution.
THANKS.

[2021-05-20 18:09] RalicaY commented on #39
![QR_TestPositive](https://user-images.githubusercontent.com/76050122/119028040-4b5d1300-b9a7-11eb-8bf4-3d5b9c4272f5.png)

[2021-05-20 18:10] RalicaY commented on #39
This Certificate is invalid.  The reason is: "The test result is positive."

[2021-05-20 18:12] RalicaY commented on #39
![iOS_Verifier](https://user-images.githubusercontent.com/76050122/119028334-a131bb00-b9a7-11eb-8a7b-a3cd68e8358e.jpg)

After scanning the above invalid QR Code with the iOS Verifier App -- the reason for invalidation is displayed: "The test result is positive."

[2021-05-20 18:14] RalicaY commented on #39
Other specific Errors to be displayed are: "The cryptographic Signature is invalid.", "The test date is in the future", etc.

[2021-05-21 05:46] oleksandrsarapulovgl commented on #40
@ltranvan sorry, was not aware of the flow. Will reopen it. I just implemented related changes. Should I move the issue specific state after implementation?

[2021-05-21 11:47] sokkphoto opened #45 "Test Certificates - "Date of Collection" and "Date of Test Result" values not displayed"
This relates to https://github.com/eu-digital-green-certificates/dgc-testdata/issues/30 opened by @martin-lindstrom

**Verification App (Android, potentially iOS also)** - Seems the "dr" and "sc" fields are not displayed by the Android Verification App (did not test with iOS).

**Issuance Service** - The labeling used in the CBOR is not fully compliant with RFC8949 3.4.1 (https://www.rfc-editor.or

[2021-05-21 14:31] fneur commented on #45
@sokkphoto
The problem is due to a java.text.ParseException: Unparseable date: "2021-05-19T08:20:00Z"
![image](https://user-images.githubusercontent.com/33552046/119153543-a2b7bd80-ba51-11eb-9adf-7bf9eee40a3e.png)

[2021-05-22 18:02] fneur commented on #45
Fixed by PR: #46

[2021-05-24 20:52] oleksandrsarapulovgl commented on #39
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/48

[2021-05-25 03:46] sokkphoto commented on #45
Thanks!

[2021-05-25 12:50] oleksandrsarapulovgl opened #49 "Implement dynamic host fetching"
Use Config file fetched from BE to extract urls to communicate with BE

[2021-05-26 06:27] oleksandrsarapulovgl commented on #49
Closed with PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/50

[2021-05-26 06:27] #49 closed

[2021-05-26 09:56] ltranvan commented on #40
Due the issue is shifted to Sprint Backlog by Jörg i have moved it to the Open column in the EU DGC Bugtracking too.

[2021-05-26 14:48] RalicaY opened #51 "[Android] If a non-must field is left empty in the Issuance Web App, the produced QR-Code is always shown as invalid by the verifier App"
## Describe the bug

If an optional field is omitted (it is NULL value) the issuer app generates a QR-Code which is always shown as invalid by the verifier app.

For example, a test certificate with negative result and a valid signature, but the name has been left blank.

A sample QR Code and the data to generate it is attached,

## Expected behaviour

A valid certificate should be shown as valid

[2021-05-26 18:02] MykhailoNester commented on #51
From what I see in json there are `null` values - `"fn":null`.

[code]

 It is the reason for schema validation fail on client side:

[code]

From this schema that we check:
https://github.com/eu-digital-green-certificates/ehn-dgc-schema/blob/main/DGC.combined-schema.json

we have:

[code]

`"type":"string",`  - **Error here. This property supports only `String` type**.

To fix this we need to upd

[2021-05-27 06:42] oleksandrsarapulovgl commented on #45
Fixed with PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/53

[2021-05-27 07:41] #45 closed

[2021-05-27 07:48] oleksandrsarapulovgl commented on #51
@SchulzeStTSI could you please clarify what solution will we follow here? Will we update schema, or will you block null value on BE side?

FYI @MykhailoNester @Hendrik-Schmidt-Schierhorn-TSI

[2021-05-27 10:31] SchulzeStTSI commented on #51
@oleksandrsarapulovgl In the schema is just the fnt field mandatory. So all others seems to be optional. Can we simply remove null fields before schema checkup?

[2021-05-27 11:11] oleksandrsarapulovgl commented on #51
I guess we can, but why would we do that if we can just make it nullable as @MykhailoNester described? @SchulzeStTSI let's make it nullable in the schema?

[2021-05-27 11:22] SchulzeStTSI commented on #51
@oleksandrsarapulovgl I will analyze it.

[2021-05-27 11:49] digitalmind opened #54 "Cryptographic signature invalid error"
## While testing, I keep getting cryptographic signature invalid error.

The test url is [https://user-images.githubusercontent.com/76050122/119028040-4b5d1300-b9a7-11eb-8bf4-3d5b9c4272f5.png](https://user-images.githubusercontent.com/76050122/119028040-4b5d1300-b9a7-11eb-8bf4-3d5b9c4272f5.png)
I have tried updating the public keys but that did not change anything. Upon inspection I can see that t

[2021-05-27 13:25] SchulzeStTSI commented on #51
I've pushed it to https://github.com/eu-digital-green-certificates/dgca-issuance-web/issues/79 But please correct it as proposed by @MykhailoNester locally in the schema of the verifier. The offical schema can not be modified.

[2021-05-27 13:39] RalicaY commented on #54
Hello, it is seems to be a bug connected to the fact that the Test Result in the QR-Code has the value "DETECTED".  You should try with a QR Code with Test Result Value of "UNDECTED".

[2021-05-27 14:09] digitalmind commented on #54
Thank you

[2021-05-27 14:09] #54 closed

[2021-05-27 16:53] RalicaY opened #55 "[Android] QR-Codes of type TEST with "TEST Result = Detected" are evaluated as cryptographically invalid."
## Describe the bug

QR-Code of type TEST with TEST Result = Detected  are evaluated as cryptographically invalid.

## Expected behaviour

QR-Code of type TEST with TEST Result = Detected should evaluate to invalid with reason "Test result positive" and the affected part of the dataset incl. "test result = DETECTED" should be shown.

## Steps to reproduce the issue

Scan a QR-Code of Type Test wit

[2021-05-28 06:16] oleksandrsarapulovgl opened #57 "Add licensing"
Added information of used open source libraries

[2021-05-28 07:15] oleksandrsarapulovgl commented on #51
PR: https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/16

[2021-05-28 07:42] oleksandrsarapulovgl commented on #55
@RalicaY Could you please share QR code to reproduce it?

[2021-05-28 07:53] RalicaY commented on #55
Exactly the same example as above but only TEST RESULT = NOT DETECTED
![Example_Not_detected](https://user-images.githubusercontent.com/76050122/119949849-91633980-bf9a-11eb-958f-73354d88966a.png)

[2021-05-28 07:55] RalicaY commented on #55
@oleksandrsarapulovgl , just as additional info: in both of the above examples, all optional fields were filled with data.  No optional fields were left empty.

[2021-05-28 07:57] RalicaY commented on #55
@oleksandrsarapulovgl, we expect that in the first example where COVID is DETECTED, that it would be invalid with displayed reason: "Test result positive" and the data set that refers to the positive result would be displayed also in accordance with the specification: "In case of a failed verification (RED), the app should only display the reason for the fail, including details such as the specifi

[2021-05-28 08:04] ltranvan commented on #51
Hello,
After you have fixed the issue, please shifted it to implemented. A shift to "In Test/Retest" is just only for the case, once a build with a fix is allready created and provided for test/retest.
As I suppose, this is here not the case, so i will let it in state "Implemented" till a new build for test would be created and provided.

[2021-05-28 08:40] oleksandrsarapulovgl commented on #55
@Hendrik-Schmidt-Schierhorn-TSI could you please confirm required changes?

[2021-05-28 08:40] #57 closed

[2021-05-28 08:41] oleksandrsarapulovgl commented on #51
Thank you @ltranvan, will do

[2021-05-28 11:35] oleksandrsarapulovgl commented on #40
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/60

[2021-05-29 08:40] RalicaY opened #62 "[Android] Field "Country of Vaccination" should be named "Issuer Country""
## Describe the bug

Currently the field "Country of Vaccination" is seen in the Data Set of all Certificate Types -- VAC, TEST and REC.  It makes sense only for Vac, but not for TEST and REC.

## Expected behaviour

The field "Country of Vaccination" should be renamed to "Issuer Country".
![country_of_vaccination](https://user-images.githubusercontent.com/76050122/120063985-46185c00-c06a-11eb-9b1

[2021-05-31 07:19] skounis opened #63 "[Android] The application crashes when I try to scan the QR codes of Germany"
## Describe the bug
I try to scan the QR codes Germany updated by using the `v1.0.1` build (.apk)

- https://github.com/eu-digital-green-certificates/dgc-testdata/tree/main/DE

## Expected behaviour

## Steps to reproduce the issue
1. Download and Install the `.apk`
2. Scan the QR codes uploaded by Germany https://github.com/eu-digital-green-certificates/dgc-testdata/tree/main/DE
3. The applicatio

[2021-05-31 08:04] oleksandrsarapulovgl commented on #63
I tested, and non of DE QRs crashes for me. Could you please share here the link to specific example?

I think it has been fixed in some of recent changes

[2021-05-31 08:21] oleksandrsarapulovgl commented on #62
@RalicaY could you please clarify, we should show "Issuer Country" for all types: vacc, rec, test?

[2021-05-31 08:27] oleksandrsarapulovgl commented on #62
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/64

[2021-05-31 08:31] RalicaY commented on #62
@oleksandrsarapulovgl yes, for all three types VAC, REC and TEST it should read "Issuer Country".

[2021-05-31 11:44] tdinckaya commented on #63
I think, signercertificateUpdate api service returned 204 No Content and  signercertificateStatus service returned empty array. For this reason, the crash may have occurred

[2021-05-31 11:47] skounis commented on #63
@oleksandrsarapulovgl please note that the ticket refers to `v1.0.1`. I just checked with the `v1.0.2` build and it scans them.

[2021-05-31 13:24] oleksandrsarapulovgl commented on #63
Thank you @tdinckaya @skounis ! So, that what I suspected. That is should have been fixed in next release

[2021-05-31 13:27] oleksandrsarapulovgl commented on #55
@RalicaY by the way, is there a chance you could share a screenshot or design of how proper displaying would be shown? Maybe from iOS application?

[2021-06-01 06:27] oleksandrsarapulovgl commented on #39
PRs:
https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/66
https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/19

[2021-06-01 06:27] oleksandrsarapulovgl commented on #55
PRs:
https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/66
https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/19

[2021-06-01 06:29] oleksandrsarapulovgl commented on #55
@RalicaY Could you please clarify the right text for  test result is positive problem?

In this ticket you wrote: "Test result positive", but in this: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/issues/39 - "The test result is positive.".

Could you please clarify which one to use?

[2021-06-01 07:09] RalicaY commented on #55
Test result positive

[2021-06-01 08:01] #63 closed

[2021-06-01 14:36] RalicaY commented on #51
Test of the fix was successful in  Version 1.0.2.  The bug is not to be seen.

[2021-06-01 14:36] #51 closed

[2021-06-01 14:45] RalicaY opened #68 "[Android] Value of field of "Disease or Agent Targeted" should be humanly readable"
## Describe the bug

The Value of the field "Disease or Agent Targeted" should be humanly readable and not a number.  In the attached example the value should read "Covid-19" instead of 840539006.

![agent](https://user-images.githubusercontent.com/76050122/120344225-b12b9200-c2f9-11eb-91f0-80b928de3f14.png)

## Expected behaviour

## Steps to reproduce the issue

## Technical details

## Possible

[2021-06-01 19:16] Leseratte10 opened #69 "Scanning a random unrelated QR code shows confusing message"
## Describe the bug

When you scan a random QR code that isn't related to the DGCA system at all (for example, a QR code that just contains text or a random URL) the error message is confusing / wrong.

## Expected behaviour

Scanning a random QR code displays the error message "Invalid - Certificate is expired" - which is obviously wrong. There never was a valid certificate. "Certificate is expir

[2021-06-02 06:01] Tomas-Alb opened #70 "App should inform the user about background public keys download status so user could know that he has all public keys"
## Feature description

App should inform the user about background public keys download status so user could know that he has all public keys

## Problem and motivation

We had a situation when a user has downloaded the app and tried to scan QR codes. For some countries, he was able to verify QR codes but for some countries not. We suspected that app doesn't have the required public key (keys wer

[2021-06-02 06:14] oleksandrsarapulovgl opened #71 "Create separate flavor for testing environment"

[2021-06-02 06:17] oleksandrsarapulovgl commented on #69
@Leseratte10 could you please clarify what is expected behavior here?

What should we show exactly in the case?

FYI @Hendrik-Schmidt-Schierhorn-TSI

[2021-06-02 06:40] RalicaY commented on #70
@Tomas-Alb Which version did you use.  The manual triggering of the public keay synchronisation has been already implemented in Release 1.0.2.

[2021-06-02 06:51] Tomas-Alb commented on #70
Yes, there is a manual synchronization feature. But it solves the issue for advanced users. For a simple user who downloads and uses app on the go - it will be a crucial thing because some QR's will be invalid and he will not know that he needs to synchronize public keys manually or wait for fore some time. So it's important to inform users that background download is in progress.

[2021-06-02 06:57] RalicaY commented on #70
@Tomas-Alb In the current phase, supported verifier app scenarios include only offline verification (synchronisation is triggered automatically once every 24 hours given internet connection is available at the time of synchronisation) and the actors using the app are border control officials, i.e. more or less only "advanced" users but not the certificate holders themselves.

[2021-06-02 07:15] Tomas-Alb commented on #70
I think that the issue is not clear to you :) I will try to provide issue reproduction steps maybe it will be clear.

1. Install application - but don't start the app
2. decrease your internet connection for example to 56 kbit/s
3. start the application and start QR code scanning (do it right away - don't wait for some time and don't perform manual synchronization)

In this case, some QR's will be

[2021-06-02 07:26] RalicaY commented on #70
@Tomas-Alb Thanks for elaborating further on the problem.  Question to 1.) : Was internet on during the time of installation?

[2021-06-02 07:29] oleksandrsarapulovgl commented on #69
Thank you @RalicaY ! Just to clarify - is it work on iOS? Because so far not sure we can differentiate between cryptographic error and this is not valid QR error. How would we no that? I think we wouldn't just be able to decode it

[2021-06-02 07:31] Tomas-Alb commented on #70
Yes it was on but it was realyyyy slow :)

[2021-06-02 07:49] RalicaY commented on #69
@oleksandrsarapulovgl :  The problem with the message "Certificate is expired" is that it is a very specific cryptographic error and not just a general cryptographic error such as simply "Cryptographic Error" when reading the code.  Moreover, the message "Certificate expired" implies that the Code was cryptographically read and the certificate was evaluated as chronologically expired  which is mis

[2021-06-02 08:45] mauimauer commented on #71
Agree. The API at https://dgca-verifier-service.cfapps.eu10.hana.ondemand.com/signercertificateUpdate seems to hand out a lot of test certificates. Is this intentional. If this is infact the production endpoint it should probably not hand out test certificates.

[2021-06-02 08:53] mauimauer commented on #70
Validation should not be permitted until all certificates have been received/synced

[2021-06-02 09:23] rebwalz opened #72 "Missing UTC-Hint in "Date of TestResult" and "Date of Date of Collection""
## Describe the bug
In the WalletApp it is not clear which timezone  is shown

## Expected behaviour
In the Test-QR-code should be clearly shown that it is the UTC-timezone as it is in the ios-version.

## Steps to reproduce the issue
1. create Testcertificate with location time-zone (for example 8:00 AM german time) as seen on screenshot:
![image](https://user-images.githubusercontent.com/8156502

[2021-06-02 09:30] rebwalz opened #73 "Wrong Label "Country of Vaccination""
## Describe the bug
In the VerifierApp it is shown the Label "Country of Vaccination"

## Expected behaviour
In the Test-QR-code should be written"Country of Test".

## Steps to reproduce the issue
1. Open VerifierApp
2. Scan a test-certificate
3. see test certificate
![image](https://user-images.githubusercontent.com/81565021/120456398-d968ce80-c395-11eb-8c0a-985fd91525db.png)
4. you see "Contry

[2021-06-02 10:08] Tomas-Alb commented on #70
@mauimauer this could be a solution.

[2021-06-02 10:51] RalicaY commented on #73
Issue is obsolete, because it doubles https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/issues/68

[2021-06-02 10:52] #73 closed

[2021-06-03 10:13] oleksandrsarapulovgl commented on #68
@RalicaY could you please help me, do you have the full list of disease codes we could expect, it's clear that receiving "840539006" we need to show Covid-19. But what if we receive other number code: should we show "Undefined" or something? Or do we have list of all possible codes?

[2021-06-03 10:44] RalicaY commented on #68
@ltranvan can you provide additional information on this?

[2021-06-03 10:50] oleksandrsarapulovgl commented on #68
@RalicaY could you please clarify, is it look right:
![Screenshot_1622717349](https://user-images.githubusercontent.com/82441124/120633261-9e889880-c472-11eb-9f62-c35338c34190.png)

[2021-06-03 10:52] oleksandrsarapulovgl commented on #68
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/75

[2021-06-03 11:55] RalicaY commented on #68
@oleksandrsarapulovgl yes

[2021-06-03 20:10] oleksandrsarapulovgl commented on #72
@rebwalz could you please clarify - what to display then if we receive zoned date time field? Should we add (UTC) to not zoned date time, and show zoned date time as is?

FYI @RalicaY

[2021-06-04 06:37] #71 closed

[2021-06-04 07:36] oleksandrsarapulovgl commented on #69
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/78

[2021-06-04 14:19] oleksandrsarapulovgl commented on #72
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/79

[2021-06-04 15:53] rebwalz commented on #72
@oleksandrsarapulovgl i would do it same way as it is in the ios app. There is written (UTC) behind the time

[2021-06-07 09:18] brozkeff opened #81 "Just beep and nothing displayed when scanning real Czech DGCA QR codes"
## Describe the bug
Scanning real QR code from valid certificates issued by Czech Republic just beeps and does not display anything useful

## Expected behaviour

Green checkmark and/or some details that the certificate is OK or is not OK should be displayed.

## Steps to reproduce the issue

Get any valid certificate either from antigen, PCR test or vaccination from ocko.uzis.cz in PDF format and

[2021-06-07 11:35] oleksandrsarapulovgl commented on #81
hi @brozkeff ! Could you please share specific QR?

[2021-06-07 12:15] psavva opened #82 "Validation must consider valid valuesets"
The Verification App does not consider valid ValueSets, and will accept any data as Valid.
For Example: create a QR Code with any random data in the "Test Type" for the TEST QR Code.

You will notice that a Valid QR Code is returned, even though the data is not valid.

[2021-06-07 13:37] LolloGithub commented on #82
Hi

from our tests, the verification app does not apply valueset validation.
I am not an expert and I do not know if this behaviour has been on purpose.

But it definitely serve a purpose for now.
Until the DGCG gateway next version 1.1 will make update valueset globally available, we would have some issues in validate QR codes with updated valueset values.

[2021-06-07 20:48] SchulzeStTSI commented on #82
The valueset validation is covered by the business rules execution and will be implemented together with the valueset sharing.

[2021-06-07 22:15] psavva commented on #82
Ok, will follow via the business rules validation

[2021-06-07 22:15] #82 closed

[2021-06-08 09:06] kerstin-oppermann-tsi opened #83 "Certificate reload in app results in invalide certificate scanning (verification failed)"
**Environment:**
Android Phone
Android Verifier App 1.0.3-acc

**Steps:**

1. Deinstall old verifier apps
2. Install app-acc-release-signed-1.0.3.apk (https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/releases/tag/1.0.3)
3. Scan certificate
     in this case
![image](https://user-images.githubusercontent.com/81565834/121154184-0b22df00-c847-11eb-955c-a2e71597e1a0.png)
-> in

[2021-06-08 09:17] psavva opened #84 "Verifier does not compile"
Wrong function call, please fix

[code]

to

[code]

[2021-06-08 09:25] psavva commented on #84
Invalid!

[2021-06-08 09:25] #84 closed

[2021-06-08 10:49] kerstin-oppermann-tsi opened #85 "When not set family and given name in issuance web, app shows NULL NULL in the top"
**Environment**
Issuance Web Portal https://issuance-dgca-test.cfapps.eu10.hana.ondemand.com/
Android Phone
Verifier App 1.0.3.-tst https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/releases/tag/1.0.3

**## Steps to reproduce the issue**

1. Click on Record Vaccination Certification
2. Fill out all mandatory fields
3. **Dont** fill out family and given name
![image](https://

[2021-06-08 10:51] jap1968 opened #86 "Verification app should show additional information"
## Feature description
Verification process should display more information than just `success` / `fail`
According to this specification document: https://ec.europa.eu/health/sites/default/files/ehealth/docs/digital-green-certificates_v4_en.pdf , the validation app just shows a boolean result informing whether the QR code is valid.

If no additional information is shown, any valid QR code could be

[2021-06-09 06:55] Hendrik-Schmidt-Schierhorn-TSI commented on #85
Logic: If one of the strings for GivenName, FamilyName, StandardisedGivenName, StandardisedFamilyName is null, it should become an empty string (containing "").
If GivenName && FamilyName are empty, use Standardised Names instead.

[2021-06-09 07:35] jap1968 commented on #86
Tested certificate with the OFPH swiss validator (the only one currently available AFAIK). The validator displays not only a boolean result, but all the relevant certificate information. Issue closed.

[2021-06-09 07:35] #86 closed

[2021-06-09 08:57] oleksandrsarapulovgl commented on #83
@kerstin-oppermann-tsi I've just tried it, and was not able to reproduce. In accordance to discussions with other devs, it seemed there was some issue on BE side that supposed to be fixed now.

@kerstin-oppermann-tsi could you please check it once again on the same build? It should be working now.

FYI @joerg-oppermann-tsi @Hendrik-Schmidt-Schierhorn-TSI

[2021-06-09 09:11] kerstin-oppermann-tsi commented on #83
@oleksandrsarapulovgl thanks, I checked the issue again and no it works fine !!

[2021-06-09 09:24] #83 closed

[2021-06-09 18:02] cegg1 opened #88 ""Verification failed" when scanning authentic DGC QR code from the United Kingdom"
## Describe the bug

Scanning a real QR code from a valid DGC certificate issued by the United Kingdom results in "verification failed".
The name of the holder is not shown on the screen.

## Expected behaviour

A green checkmark and details of the certificate should be displayed. Verification is expected to succeed when scanning a QR from an authentic, production DGC certificate.

## Steps to rep

[2021-06-09 20:25] joerg-oppermann-tsi opened #89 "Process value sets and business rules"

[2021-06-09 20:38] joerg-oppermann-tsi opened #90 "Evaluate and integrate Certlogic"
based on:
https://github.com/ehn-digital-green-development/dgc-business-rules/blob/main/certlogic/kotlin/src/main/kotlin/eu/ehn/certlogic/certlogic.kt

[2021-06-09 20:53] joerg-oppermann-tsi opened #91 "Support extended key usage"

[2021-06-10 06:20] oleksandrsarapulovgl commented on #85
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/92

[2021-06-10 06:21] oleksandrsarapulovgl commented on #85
![Screenshot_1623306073](https://user-images.githubusercontent.com/82441124/121474786-3fc0a300-c9cd-11eb-89b2-20dda9666c15.png)

[2021-06-11 10:16] cegg1 opened #94 "Scanning genuine DGC QR code from Spain results in "verification failed""
## Describe the bug

Scanning a QR code from a real, valid DGC certificate issued by Spain results in "verification failed".
The name of the holder is nevertheless shown on the screen.

## Expected behaviour

A green checkmark and details of the certificate should be displayed. Verification is expected to succeed when scanning a QR from an authentic, production DGC certificate.

## Steps to reprod

[2021-06-11 10:26] psavva opened #95 "Add Option to Switch Camera Used"
Dear Team,

I would like to request a feature where the camera can be switched between via a button/menu on the Verifier.

Android Devices such as the Honeywell and Zebra support QR Code scanning via the Top facing camera, and would like to have the option to utilize the fast and highly reliable camera.

Please include an option to choose/switch which camera is used.

[2021-06-12 08:40] mapelo commented on #94
The certificate from the Spanish Ministry of Health is different from each of the certificates issued by the regions in Spain. So, add public keys of Spain's "Consejerías de Sanidad" authority as trusted.

[2021-06-12 18:56] bogorad commented on #81
Same with a Catalan code after 1st dose. It _probably_ should be a tiny little bit more talkative :)

[2021-06-15 17:32] ReneRumetshofer commented on #88
The same problem arises with genuine Lower Austrian certificates, version 1.0.4

[2021-06-16 07:32] kerstin-oppermann-tsi opened #97 "Nothing displayed in birthday field, when only setting year or year/month in birthday field in issuance web"
**Environment**
Android Samsung S20+
Issuance Web App 1.0.8
app-tst-release-signed-1.0.4.apk

**Steps**

1. Set vaccination data in issuance web
2. only set year (or year/month) in birthday
3. scan QR Code by verifier app

**Expected result:**
year (or year/month) should be displayed in birthday field in app

**Actual result**
empty field is displayed for birtday

![image](https://user-images.gith

[2021-06-16 13:40] kerstin-oppermann-tsi commented on #85
@oleksandrsarapulovgl  did you fixed this issue in release 1.0.4 ? If yes, it doesn't work correctly for this fact:
![image](https://user-images.githubusercontent.com/81565834/122229325-ecf95680-ceb8-11eb-83dd-ab27f5560535.png)
I only set STANDARDIZED FAMILY NAME, the rest is empty

![image](https://user-images.githubusercontent.com/81565834/122229568-292cb700-ceb9-11eb-90c0-27f796fadb91.png)

[2021-06-16 13:40] oleksandrsarapulovgl commented on #85
![Screenshot_1623850742](https://user-images.githubusercontent.com/82441124/122229612-92b0c380-cec1-11eb-8f9a-a226b6f91070.png)
![Screenshot_1623850780](https://user-images.githubusercontent.com/82441124/122229617-93e1f080-cec1-11eb-9f29-458d79e86de5.png)

[2021-06-16 13:42] oleksandrsarapulovgl commented on #85
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/101

FYI @Hendrik-Schmidt-Schierhorn-TSI

[2021-06-16 13:49] #97 closed

[2021-06-16 15:46] kerstin-oppermann-tsi opened #102 "Remove field "Date of Test Result" from all App Screens"
The field **Date of test result** is not used anymore since schema 1.3.0 and should be removed from all app screens because it is always empty.

Same issue in wallet app https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/issues/61

![image](https://user-images.githubusercontent.com/81565834/122251376-bcbab380-ceca-11eb-913e-f934b2c903d3.png)

[2021-06-17 08:47] kerstin-oppermann-tsi commented on #72
Issue is fixed in Release 1.0.5
![image](https://user-images.githubusercontent.com/81565834/122363540-50d35c00-cf59-11eb-9ab8-c30d497cc8ec.png)

[2021-06-17 08:47] #72 closed

[2021-06-17 08:50] kerstin-oppermann-tsi commented on #85
Issue is fixed in Release 1.0.5

[2021-06-17 08:50] #85 closed

[2021-06-17 09:15] kerstin-oppermann-tsi commented on #62
Fixed and tested in release 1.0.5

[2021-06-17 09:15] #62 closed

[2021-06-17 09:18] oleksandrsarapulovgl commented on #102
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/103

[2021-06-17 09:18] oleksandrsarapulovgl commented on #102
![Screenshot_1623921249](https://user-images.githubusercontent.com/82441124/122368646-2fc53800-cf66-11eb-9b62-522f46d0067d.png)

[2021-06-17 09:22] kerstin-oppermann-tsi commented on #55
![image](https://user-images.githubusercontent.com/81565834/122369232-4bc4db80-cf5e-11eb-80a9-413a1e1203b6.png)
fixed, retested in release 1.0.5

[2021-06-17 09:22] #55 closed

[2021-06-17 09:28] kerstin-oppermann-tsi commented on #39
![image](https://user-images.githubusercontent.com/81565834/122370168-25ec0680-cf5f-11eb-8515-d1e23fceba32.png)
retested in release 1.0.5

[2021-06-17 09:28] #39 closed

[2021-06-17 12:02] #102 closed

[2021-06-17 14:07] kerstin-oppermann-tsi opened #104 "Field "valid until" for recovery is not checked in Android - should be equal to iOS App check"
![image](https://user-images.githubusercontent.com/81565834/122409011-18487800-cf83-11eb-879b-6bb941721da3.png)

If the date in the **valid until** field is expired, certificate should not longer be vaild.

The behaviour should be the same like in iOS App so that both apps show the same certificate status and message.

[2021-06-18 08:09] Yasser-R opened #106 "Acceptance Verifier Service not responding"
## Describe the bug

Acceptance Verifier backend, is not responding anymore.
## Expected behaviour
This endpoint is supposed to respond with a list of `kid`
*Acceptance* (not responding) : https://dgca-verifier-service-eu-acc.cfapps.eu10.hana.ondemand.com/signercertificateStatus
*Test* (responding normally) : https://dgca-verifier-service.cfapps.eu10.hana.ondemand.com/signercertificateStatus

## S

[2021-06-21 09:25] Yasser-R commented on #106
Service is up

[2021-06-21 09:25] #106 closed

[2021-06-21 13:12] maluueu commented on #88
Same for genuine DE certificates

[2021-06-23 08:11] SchulzeStTSI commented on #104
https://github.com/SchulzeStTSI/dgca-verifier-app-android/commit/5c53221c69579a9d184751ca040bbc3080a92b18
https://github.com/SchulzeStTSI/dgca-app-core-android/commit/48534b5939b983e6c4a2b16f013944a99105b074
https://github.com/SchulzeStTSI/dgca-app-core-android/commit/bfa1849574072ca1dc1def9f6c6cb459dde87938
https://github.com/SchulzeStTSI/dgca-app-core-android/commit/ebbb5a9d7934e201f6ac7e7cc2440

[2021-06-23 11:12] wiggisser opened #108 "Scanning Austrian testing and vaccination certificate fails with signature error"
## Describe the bug

I scanned two certificates issued by the Austrian health portal https://gesundheit.gv.at

- One for a rapid-test I took 2 hours ago and
- one for a vaccination done two weeks ago.

Yes I know, the cert for the vaccination is still invalid, because it was only two weeks ago. But the validation does not fail because of the date, but because the signature can't be verfied.

The v

[2021-06-23 15:33] justremotephone commented on #108
Hello,

I was able to validate official tests and vaccinations certificates with the above certificate

-----BEGIN CERTIFICATE-----
MIIB7zCCAZagAwIBAgIKAXnM+L47fmBcezAKBggqhkjOPQQDAjBEMQswCQYDVQQG
EwJBVDEPMA0GA1UECgwGQk1TR1BLMQwwCgYDVQQFEwMwMDExFjAUBgNVBAMMDUFU
IERHQyBDU0NBIDEwHhcNMjEwNjAyMTM0NTI0WhcNMjMwNjAyMTM0NTI0WjBGMQsw
CQYDVQQGEwJBVDEPMA0GA1UECgwGQk1TR1BLMQ8wDQYDVQQFEwYwMDEwMDExFTAT
BgNVBAMM

[2021-06-24 09:49] RalicaY commented on #69
Retest with 1.1.0 successful.

[2021-06-24 09:49] #69 closed

[2021-06-24 11:40] RalicaY opened #110 "[Android] App crash upon manually triggering Public Key Reload"
## Describe the bug

The App crashes upon clicking on "reload" public keys.

## Expected behaviour

Public Keys are reloaded.

## Steps to reproduce the issue

1. Install app.
2. Click on "Reload" via the settings in the upper left corner where the three dots are.
3.  App crashes.

## Technical details

Galaxy XCover 4, Modellnummer: SM-G390F,
Android-Version: 9

Verifier App 1.1.0-acc
Log file at

[2021-06-24 14:00] RalicaY opened #112 "[Android] Scanned Certificate Cannot be Scrolled Up or Down"
## Describe the bug

A scanned certificate cannot be scrolled up or down.  This leads to the problem that not all payload data can be seen., because it does not fit the screen.

## Expected behaviour

The scanned certificate can be scrolled up and down, so that all payload data can be seen,

## Steps to reproduce the issue

## Technical details
Galaxy XCover 4, Modellnummer: SM-G390F,
Android-Vers

[2021-06-25 12:19] RalicaY commented on #110
Successfully tested in 1.1.1-acc.

[2021-06-25 12:19] #110 closed

[2021-06-26 09:31] rampa069 opened #116 "Spanish "comunitat valenciana" certificate not validating"
## Describe the bug

Scanning my own vaccination certificate results in FAILED verification.

## Expected behaviour

Should be verified.

## Steps to reproduce the issue

fails scanning any certificate downloaded from  the "comunidad valenciana" health web site.

  Decoding manually the CBOR records, can see a difference in the "6" field. In this certificates, thy used a decimal point in the expir

[2021-06-27 22:08] SchulzeStTSI commented on #116
@rampa069 Do you scan a productive certificate where this problem with the fractional seconds occur? If yes, you should address this with a new issue  in the quality assurance repository.  If this is not a productive code, please transmit us in the same repository directly the QR for investigation. We will contact  then your national representives to investigate more in this issue to trigger the b

[2021-06-28 07:33] rampa069 commented on #116
yes, it is a real covid certification.

  yesterday i asked for another (this time not to the valencian authority but the national one)  and also does not validate.

In this one, the timestamp is correct, but still invalid.... decoding this cert, it has KID a85345d9d0be9a34.

may be spain is not uploading his certs to the gateway?

if you need both png, let me know how to send it to you.  where is

[2021-06-28 07:37] rampa069 commented on #116
failing with this one, may be related to #94 and not with the valencian one as i assumed at the beginning.

[2021-06-28 07:58] SchulzeStTSI commented on #116
@rampa069 It's this repository: https://github.com/eu-digital-green-certificates/dcc-quality-assurance There you can report productive QR Code anomalies. Can you please reopen the ticket there? (with links to the other two). Thanks for reporting that.

[2021-06-28 12:14] denzilferreira commented on #95
I've implemented this on the Finnish Verifier app. I edited the layout fragment_code_reader.xml to add a button for toggling the camera (below as btnCameraToggle).

I added to the CodeReaderFragment, in the onViewCreated() method:

[code]

This hides the button for phones without two cameras and toggles between the two. QRCode reading works on front facing camera as expected.

[2021-06-29 07:20] kerstin-oppermann-tsi commented on #108
@wiggisser As I understand the scan is with a productive certificate? If yes, you should address this as an issue in the quality assurance repository. https://github.com/eu-digital-green-certificates/dcc-quality-assurance
If this is not a productive code, please transmit us in the same repository directly the QR for investigation. We will contact then your national representives to investigate mor

[2021-06-29 07:38] asitplus-pteufl commented on #108
@wiggisser can you contact me directly: peter.teufl(at)a-sit.at?
Would be great to get more details. Thx

[2021-06-29 08:30] wiggisser commented on #108
@kerstin-oppermann-tsi Yes, both are production certificates issued by the austrian government. The signature verfies for both on the official webapp for certificate validation https://qr.gv.at  (eventhough the vaccination is not valid yet ...)

As requested I did contact @asitplus-pteufl directly via email. Should I nonetheless create an issue in the repository, you mentioned?

[2021-06-29 08:38] kerstin-oppermann-tsi commented on #108
@wiggisser  yes please do so, so we can discuss it directly in the assuance board. And refer this ticket here to this. And if you have any comments or solutions from Peter Teufl please comment this to the issue. thx

[2021-06-29 08:54] kerstin-oppermann-tsi commented on #88
@cegg1 please can you check if the problem longer exits? We fixed some issues with the holders name (if provided).

If the issues with invalid certs further exits for real productive certs you should open an issue in https://github.com/eu-digital-green-certificates/dcc-quality-assurance/issues, if this is not, please provide any invalid code as example here or per email.

[2021-06-29 08:56] kerstin-oppermann-tsi commented on #81
@brozkeff @bogorad can you please check if the problem longer exits with the latest app version? If yes and the codes are real productives one please refer an issue to this in https://github.com/eu-digital-green-certificates/dcc-quality-assurance/issues

[2021-06-29 09:06] bogorad commented on #81
ver 1.1.1

Selected 'Spain'.

'Verification failed' and the app is preventing me from taking a screenshot (WTF?!).

Didn't get the 'refer to' part - isn't this an issue already?

[2021-06-29 09:07] #112 closed

[2021-06-29 09:07] kerstin-oppermann-tsi commented on #112
Retested in release 1.0.7.

[2021-06-29 09:11] wiggisser commented on #108
@kerstin-oppermann-tsi The answer of Peter Teufl (in german, Translation via  google translate)

I must add, that I just ran the app out of curiosity as it was in this repository. That may have been a misunderstanding on my site. Ie I should have somehow provided the correct certificate myself ... If that's the case, please feel free to close this issue (and maybe the newly created in the qa repos

[2021-06-29 09:12] kerstin-oppermann-tsi commented on #81
@bogorad The screenshot issue is a security issue and is required :( Can you take a picture otherwise af the QR Code and the app screen?

[2021-06-29 09:14] kerstin-oppermann-tsi commented on #108
Thx for your comments @wiggisser . We will discuss it in our daily jour fix in the afternoon and decide if closing the issues.

[2021-06-29 09:18] bogorad commented on #81
Too much hassle, sorry.

[2021-06-29 09:33] kerstin-oppermann-tsi commented on #81
@bogorad  can you do a test with the app version 1.0.7.
In the app versions 1.1.x business rules must be provided by the countries and that aren't yet.

[2021-06-29 11:23] martinbrook commented on #88
https://github.com/eu-digital-green-certificates/dcc-quality-assurance/issues/64

[2021-06-29 14:46] chrloch commented on #108
Closing issue as it is about distributing keys, not app functionality

[2021-06-29 14:46] #108 closed

[2021-06-29 14:50] chrloch commented on #94
The app does not have a builtin list of trusted certificates. If the signer certificate is not on the environment's gateway, the behavior is correct.

[2021-06-29 14:50] #94 closed

[2021-06-29 14:59] kerstin-oppermann-tsi commented on #116
We will close this ticket because the problem is, that our template apps do not run against a production environment.

See last comment in https://github.com/eu-digital-green-certificates/dcc-quality-assurance/issues/60

[2021-06-29 14:59] #116 closed

[2021-06-29 15:03] kerstin-oppermann-tsi commented on #88
The ticket will be closed for two reasons:
1. see last comment in https://github.com/eu-digital-green-certificates/dcc-quality-assurance/issues/64
2. UK is not onboarded in the EU project and so it did not deliver dcc's for the gateway

[2021-06-29 15:03] #88 closed

[2021-06-29 15:06] kerstin-oppermann-tsi commented on #81
The ticket is closed. See comment in the according ticket https://github.com/eu-digital-green-certificates/dcc-quality-assurance/issues/63

Production codes cannot be verified in the context of this repo. Only acceptance environment codes. Our apps only run to acceptance environment and not against productive.

[2021-06-29 15:06] #81 closed

[2021-06-29 15:07] #104 closed

[2021-06-30 08:52] Tomas-Alb opened #123 "Validation app crashes when COBR datetime field is taged with 0 tag"
## Describe the bug

Regarding specifications  - DateTime fields in COBR should be tagged with 0 tag. New version of validation app crashes when datetime field is tagged with 0 tag.

Issue could be found in

 https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/blob/main/app/src/main/java/dgca/verifier/app/android/verification/VerificationViewModel.kt#L183

[code]

this.hcert

[2021-06-30 10:21] SchulzeStTSI commented on #123
@Tomas-Alb Can you provide an QR Code?

[2021-06-30 10:28] ragaisis commented on #123
@SchulzeStTSI it's in the bottom of the message
https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/LT/png/2.png

[2021-06-30 12:28] SchulzeStTSI commented on #123
@ragaisis Thank you:)

[2021-07-01 07:20] Tomas-Alb opened #126 "Application should inform about failed public key download"
## Feature description

The application should inform about failed public key download

## Problem and motivation

Our public key API was down and we made a fresh APP install.  The user has tried to scan QR codes and all QR's was invalid. App should inform the user that public keys and/or rules are downloaded (at least for the first time) and the user can start using the application.

[2021-07-02 09:10] jondo commented on #126
How is this download done? Is it "Reload" in the settings? Clicking this does not help with my Austrian vaccination certificate not being detected as valid.

I have tested [app-acc-release-signed-1.1.3-RC-1.apk](https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/releases/download/1.1.3-RC-1/app-acc-release-signed.apk), and I have set "Validate with:" to "Österreich".

[2021-07-02 09:15] jondo opened #128 "Explain the difference between the "acc" and the "tst" version"
I want to use this app, but I don't know whether to user `app-acc-release-signed-1.1.3-RC-1.apk` or `app-tst-release-signed-1.1.3-RC-1.apk`. I assume that the `app-acc` is the correct one, and `app-tst` is just some version for development tests? Please describe this.

[2021-07-02 09:17] jondo opened #129 "Please release on F-Droid"
I am using an Android version without Google services, so please release this app on F-Droid.

[2021-07-02 09:35] jondo opened #130 ""Validate with" country should be remembered"
I have installed `app-acc-release-signed-1.1.3-RC-1.apk`.
When I open the app, the "Validate with:" field is set to "Belgien", the topmost dropdown list value. When I change this to "Österreich", then open and close the settings, the field has switched back to "Belgien". The same happens when I close and reopen the app.

The new field value should of course persist instead.

[2021-07-02 09:54] daniel-eder commented on #128
The apps provided in this GitHub organization are only templates that member states can adapt for their purposes. They can be used as-is, but would need to be configured to work with the respective member state backends.

Both tst and acc are builds that are part of the testing strategy and do not interact with the production environments, as production environments are under the responsibility of

[2021-07-02 09:54] #128 closed

[2021-07-02 09:56] daniel-eder commented on #129
The apps in this organization are template apps that are not directly released, rather the member states use them as basis for their own apps. As the member states are responsible for the trust list to verify authenticity of certificates, the app cannot be used in production without proper configuration by a member state.

To obtain a working copy, you need to install the app your member state pro

[2021-07-02 09:56] #129 closed

[2021-07-02 12:05] #91 closed

[2021-07-02 12:22] RalicaY commented on #68
Successfully retested with Verifier 1.1.2-tst ( bar for Belgium, with this country selected, the app crashes. This is being analysed and a new ticket will be created for this problem)

[2021-07-02 12:22] #68 closed

[2021-07-03 10:03] SchulzeStTSI commented on #123
@oleksandrsarapulovgl Please use this for test: https://github.com/eu-digital-green-certificates/dgc-testdata/blob/ab8b934c1f698350c82151c1316d2a74e903535b/LT/png/2.png Problem occurs in the cborObject.toString() method  (which attaches "0() to the string)  https://github.com/eu-digital-green-certificates/dgca-app-core-android/blob/main/decoder/src/main/java/dgca/verifier/app/decoder/cbor/DefaultC

[2021-07-05 05:43] oleksandrsarapulovgl commented on #123
@SchulzeStTSI I rechecked QR, and with changes from the PR: https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/46, it works properly.

[2021-07-06 11:19] SchulzeStTSI commented on #123
@Tomas-Alb can we close the issue?

[2021-07-07 08:02] RalicaY opened #133 "[Android] No rule is displayed when the rule is valid"
## Describe the bug

The rule VR-BE-0001 for Belgium is only displayed when it is not valid. When it is valid, no rule is displayed.

The rule states that every day before 12 o'clock noontime only the Vaccine Biontech is valid. Then -- after12 o'clock noontime only Moderna is valid.  That is, the rule alternates every 12 hours between Biontech and Miderna.  The rule is enacted on 08. July so to te

[2021-07-07 08:24] bogorad commented on #81
Tried the latest version. Still not working. Bravo!

[2021-07-07 11:38] daviddem1971 opened #134 ""Verification failed" for all certificates"
Tried acc and tst releases and I always get "verification failed" no matter what certificate I try to validate or country I choose to validate with. I know the certificatess are valid since I can validate them with the covidcheck.lu app.

What could be the problem?

[2021-07-07 12:26] daniel-eder commented on #134
The acc and tst releases are not productive releases, they are connected to the acceptance and test environments respectively.
The apps on here are only templates developed for further use by the member states. As only member states (not the EU) have sovereignty over the list of public keys (trustlist) that are used to validate certificates, only the member states can make (or enable third parties

[2021-07-07 12:26] #134 closed

[2021-07-07 12:35] psavva commented on #95
This feature would really make more sense on the wallet app, I'm not so sure about the verifier, unless you have publicly accessible verifier apps which you want to verify your own QR code...

[2021-07-07 12:40] daviddem1971 opened #136 "EU production-ready app"
Does the EU plan to release an official production-ready app that can be used by anyone, similar to what Luxembourg did with the covidcheck.lu app?

If not, how are officials and airlines at border points outside the EU supposed to verify the authenticity of our EU vaccine certificates? At the moment, we have vaccination certificates with QR codes that can only be read by officials within the EU a

[2021-07-07 12:59] daviddem1971 commented on #95
Well I do have the publicly available verifier app from Luxembourg covidcheck.lu, and it unfortunately doesn't have that feature. As a certificate holder, I am however grateful and relieved that at least one country had the foresight to release a publicly accessible verifier app. And I do not understand why verifier apps should not be publicly accessible worldwide... what are my vaccination certif

[2021-07-07 13:11] psavva commented on #95
I suggest you look here: https://github.com/eu-digital-green-certificates/dgc-participating-countries/issues/10

[2021-07-07 13:55] daniel-eder commented on #136
While this is a valid concern, such an app is not planned.

There are various political decisions behind this, but simply put, the member states and not the EU have sovereignty over the certificate validation (both who can access their infrastructure to validate certificates, and when a certificate is considered valid/sufficient for a specific purpose such as entering the country or e.g. an event

[2021-07-07 13:59] daniel-eder commented on #136
Closing this as this actually is the same topic as https://github.com/eu-digital-green-certificates/dgc-participating-countries/issues/10

[2021-07-07 13:59] #136 closed

[2021-07-07 21:45] oleksandrsarapulovgl commented on #130
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/137

[2021-07-08 07:29] kerstin-oppermann-tsi commented on #130
@oleksandrsarapulovgl @Hendrik-Schmidt-Schierhorn-TSI
In release 1.1.5.-acc tthis issue is still there. When I put the app in the background and open it again the country list is set to Belgien.

[2021-07-08 08:18] kerstin-oppermann-tsi opened #138 "Android - If test result is positiv (DETECTED) the business rule check should display a red invalid status of the cert (instead of orange)"
If a test result is positiv the verifier should get an red invalid status because this should be recognized at first glance.

Actual status:
![image](https://user-images.githubusercontent.com/81565834/124887278-4e52a800-dfd5-11eb-9112-9e139b3355b7.png)

Expected status:
Invalid status

[2021-07-08 13:31] RalicaY opened #140 "[Android] VerifierApp shows a VAC Certificate with Date in the future as "Valid" instead of "INVALID""
## Describe the bug

Given both certificates -- one of type TEST and one of type VAC, having been created with date in the future, the app should consisntently show a red error message for both due to the date being in the future.

Currently, this is the case only for the TEST Certifcate.
## Expected behaviour

Upon scanning, the VAC certificate will also show RED informing that the date is in the

[2021-07-09 07:42] oleksandrsarapulovgl commented on #138
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/141

[2021-07-09 07:57] oleksandrsarapulovgl commented on #133
@RalicaY , this is a correct behavior. Could you please check the rules you expect to be checked? The `validFrom` date for them is "2021-07-08T22:00Z". You device clock is before the time, so these rules shouldn't be validate.

[2021-07-09 10:33] RalicaY opened #142 "[Android] Signing certifiate expiration date time does not supercede the expiration date time of the green certificate"
## Describe the bug

In order  to check, that when the signing certificate expiration datetime supersedes the expiration datetime in the Green certificate, the app returns INVALID we have created the following QR-Code with chronologically valid certificate but with an expired DSC Certificate.

Attached JSON file and QR Code.

Nevertheless, scanning this QR Code with the Verifier app returns VALID.

[2021-07-09 13:08] RalicaY opened #143 "[Android] Scanning a certificate, created with a not supported Schema-Version does not result in INVALID as expected"
![version2 0 json](https://user-images.githubusercontent.com/76050122/125250445-8ec46580-e2f6-11eb-9f0e-868fc5db06cd.png)

## Describe the bug

Given the certificate with a higher Version 2.0.0 than the current, scanning it should result in INVALID.

## Expected behaviour

## Steps to reproduce the issue

## Technical details

- Host Machine OS (Windows/Linux/Mac):

## Possible Fix

## Additional

[2021-07-12 07:42] kerstin-oppermann-tsi commented on #142
@Hendrik-Schmidt-Schierhorn-TSI @oleksandrsarapulovgl Can you check this issue please. I do not clearly understand this...

[2021-07-12 12:59] fneur opened #145 "Android - App crash on device rotation"
## Describe the bug

In scan mode (i.e. CodeReaderFragment) when you rotate the device from vertical to horizontal position, the app crashes.

## Expected behaviour

Proper update of the device display (without crashing).

## Steps to reproduce the issue

## Technical details

The problem is due to the following code in CodeReaderFragment:
`fun onItemSelected(parentView: AdapterView<*>?, selectedI

[2021-07-13 07:20] RalicaY commented on #133
The ticket is obsolete given the attached example and the current date.  In case a similar behaviour is observed, a new ticket will be created with the specific set up to recreate it.

[2021-07-13 07:20] #133 closed

[2021-07-13 10:14] kerstin-oppermann-tsi commented on #143
@Hendrik-Schmidt-Schierhorn-TSI commented in the according iOS issue:

_The reason for this behaviour is, that the Schema-Version is colliding with the Business-Rules. That leads to rules with the state "open".
The Code itself can be read and is valid, so we should not show the Invalid-Screen.

I think, we can close this Issue._

According to this I will close the issue.  @RalicaY

[2021-07-13 10:14] #143 closed

[2021-07-13 10:19] RalicaY commented on #142
The idea is that the Certificate is indeed chronologically valid but the signer's certificate is already expired so that the certificate's expiration time eventually supercedes (is valid longer than ) the signer's.

[2021-07-14 10:45] kerstin-oppermann-tsi commented on #138
fixed in release 1.1.6

[2021-07-14 10:45] #138 closed

[2021-07-14 10:48] kerstin-oppermann-tsi commented on #130
fixed in release 1.1.6

[2021-07-14 10:48] #130 closed

[2021-07-14 11:03] skounis opened #147 "Duplicate entries and non EU countries in the list"
## Describe the bug
The list of the countries displays values that should not be there
1. Duplicate entry for Greece
2. Myanmar (non EU country)
3. DX: Where this refers to?
4. European Union: Do we need this entry, are there cases where this option is used?

![WIN_20210714_12_58_41_Pro_LI](https://user-images.githubusercontent.com/690575/125611643-cf0f34f6-29cb-4ee2-97b7-c44deeec4a98.jpg)

## Exp

[2021-07-14 12:00] oleksandrsarapulovgl commented on #145
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/148

[2021-07-15 04:48] fneur commented on #145
@oleksandrsarapulovgl thanks for the quick fix. This issue can be closed.

[2021-07-15 06:32] oleksandrsarapulovgl commented on #145
Thank you! Closing

[2021-07-15 06:32] #145 closed

[2021-07-15 06:32] #90 closed

[2021-07-15 11:49] RalicaY opened #149 "[Android] -- Leaving the settings dialog leads to app crash"
## Describe the bug

When coming out of the settings dialog via the tree dots in the upper right corner, upon pressing the arrow in the upper left corner, the app crashes.

## Steps to reproduce the issue

1. Click the three dots in the upper right corner to enter the settings menu;
2. Then press the arrow in the upper left corner --> app crashes.

## Technical details
Android Verifier 1.1.6-tst
G

[2021-07-16 13:02] oleksandrsarapulovgl commented on #147
PRs:
https://github.com/eu-digital-green-certificates/dgc-certlogic-android/pull/39

https://github.com/eu-digital-green-certificates/dgca-wallet-app-android/pull/84
https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/151

[2021-07-16 15:47] kerstin-oppermann-tsi opened #152 "Android - Verifier App didn't check the HC1 prefix in QR Code"
## Describe the bug
According to the hight prio issue for iOS that the HC1 prefix is removed in the resultant QR Code in Wallet app
https://github.com/eu-digital-green-certificates/dgca-app-core-ios/issues/83

we found out that the verifier apps didnt check the HC1 prefix.

The  QR Code with no HC1 prefix is scanned by the verifier app as valid but should be invalid.

## Expected behaviour

The  Q

[2021-07-19 07:47] oleksandrsarapulovgl commented on #149
@RalicaY , I checked the issue, and wasn't able to reproduce it. I suspect I fixed that in latest build. Could you please check on the latest build (https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/releases/tag/1.1.7-RC-1), and if it's reproducing - provide logs of the crash?

[2021-07-19 10:40] oleksandrsarapulovgl commented on #152
PR for the verifier app: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/153

[2021-07-19 12:25] RalicaY commented on #149
Retest successful, Android Verifier 1.1.7-tst

[2021-07-19 12:25] #149 closed

[2021-07-19 12:49] #152 closed

[2021-07-20 07:37] #123 closed

[2021-07-20 10:31] psavva opened #156 "Business Rules URLs are missing in the Context Files."
The business rules URLs are missing in the context files.

[2021-07-21 08:28] RalicaY commented on #140
In the latest release both operating systems (iOS and Android) evaluate such certificates as valid when there are nor Business Rules concerning the date. The behaviour is consistent between both iOS and Android and ticket will be closed.

[2021-07-21 08:28] #140 closed

[2021-07-21 12:43] oleksandrsarapulovgl commented on #142
@RalicaY @Hendrik-Schmidt-Schierhorn-TSI I tested this QR - and BE is not returning public key for the QR.

@RalicaY do you have other QR to test this?

[2021-07-21 13:18] RalicaY commented on #142
@TKlauenberg, could you please provide us with another QR Code?

[2021-07-21 13:39] TKlauenberg commented on #142
@oleksandrsarapulovgl the QR-Code is signed with the Certificate with the kid '9T3aGXtSul0='. This Certificate is only in the TST environment. If I would create another QR-Code it would be signed with the same public key.

[2021-07-21 14:28] ltranvan commented on #142
@oleksandrsarapulovgl @Hendrik-Schmidt-Schierhorn-TSI : the reason from my view might be "Signing Certificate is expired" Hendirk, it is ok?

[2021-07-22 05:40] oleksandrsarapulovgl commented on #142
So far I implemented to show "Verification failed", as we show for the case there is no key to validate over.

@Hendrik-Schmidt-Schierhorn-TSI could you please clarify if we need to show: "Signing Certificate is expired"?

[2021-07-22 12:43] oleksandrsarapulovgl commented on #142
Another PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/160

[2021-07-23 12:09] RalicaY commented on #142
Successfully retested with Invalidity Notification "Verification Failed"

[2021-07-23 12:09] #142 closed

[2021-07-26 08:01] eetupa opened #163 "The certification key values do not get updated on app startup or sync button press."
## Describe the bug

The certification key values do not get updated on app startup or sync button press.

**TLDR**:
This is caused by storing the resumeToken in VerifierRepositoryImpl. The first time the app is started all cert key values are downloaded and stored fine in a chain of requests and the last resumeToken of the request chain is stored in preferences. This causes the app to start the n

[2021-07-28 06:40] oleksandrsarapulovgl commented on #156
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/165

[2021-07-28 08:53] EdossProject opened #167 "Remove Country Selector"
Hi,
Can i remove Country Selection button from my app?
![image](https://user-images.githubusercontent.com/88037505/127293959-35cc0571-41cd-492b-a4b4-208a31b08f5b.png)

[2021-07-28 08:55] EdossProject opened #168 "Chack Test Data"
Hi,
Can i chack if Data of Test is Expired?

[2021-07-28 10:39] EdossProject opened #169 "Frontal Camera"
Hi,
Can i set default frontal camera?

[2021-07-29 08:30] #156 closed

[2021-07-29 10:37] daniel-eder commented on #169
Due to limited developer capacity, we must focus the support here on topics specific to the DCC apps. As far as I can see, this is a generic question regarding android programming - please refer to other platforms such as stackoverflow.com for this purpose.

[2021-07-29 10:37] #169 closed

[2021-07-29 11:27] EdossProject commented on #167
i wont to set ITALY is Only One Active

[2021-07-29 12:36] mitjap commented on #167
What does this selection do?

[2021-07-29 12:57] oleksandrsarapulovgl commented on #167
@EdossProject @mitjap this selection identifies which country rules to verify certificate over.

So, we have 2 features here: verification of green certificate validity, and verification of certificate over the rules of specific country.

[2021-07-29 12:58] oleksandrsarapulovgl commented on #167
So, I think you can remove this selector from your app @EdossProject , you will just need to hardcode Italy country iso code to be passed to cert logic validation module for further check up

[2021-07-29 13:03] EdossProject commented on #167
@oleksandrsarapulovgl can you help me to do this?

[2021-07-29 13:53] oleksandrsarapulovgl commented on #167
How may I help you exactly?

[2021-07-30 08:12] daniel-eder commented on #167
@EdossProject the support in this organization is focused on assisting EU member states with implementing their apps, mainly with topics specific to DCCs. We do not have the capacity to provide support for general android development. Please visit other forums, such as stackoverflow.com for more general coding issues.

[2021-07-30 08:12] #167 closed

[2021-08-02 11:47] wearekolossum opened #174 "App not recognizing QR code"
Hey,

i tried the app, generated a QR code and all but when i try to scan it with the app it doesn't do anything. It focus on the QR code, then "freeze" for around 1 second and then start over, so focus again, freeze for 1 second and then again and again and again. Any ideas?

Thanks and take care
Florian

[2021-08-02 13:04] gypsymauro opened #175 "About skd 26+"
Why this limitation? there are different green pass verification apps (like the swiss one) that works on older version of android,
and correctly displays green pass info, can you make this app available for older devices?

[2021-08-03 05:57] daniel-eder commented on #174
@wearekolossum could you share the problematic QR code here?
Thank you!

[2021-08-03 06:07] oleksandrsarapulovgl commented on #163
PR on the client side: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/177

[2021-08-03 06:56] oleksandrsarapulovgl commented on #168
Here is the link to related code: https://github.com/eu-digital-green-certificates/dgca-app-core-android/blob/3f7c1edb640022f7ec4d2dc044cbde4cdecfd937/decoder/src/main/java/dgca/verifier/app/decoder/cbor/DefaultCborService.kt#L55

[2021-08-03 06:58] oleksandrsarapulovgl commented on #175
It's a reference application. Originally we tried to set min SDK version to 23, but there are issues with Jackson library not recognizing ZonedDateTime class even with desugaring enabled. Thus, so far got to set it to API 26 for fully supporting ZonedDateTime.
You can change min API version in your app.

[2021-08-03 07:08] wearekolossum commented on #174
Hey @daniel-eder , sure thing. Find attached. It should be a quicktest result URL for the CWA in there. So maybe that's why it is not working? Can i only verify other results with the app?

Thanks in advance and take care
Florian

![Bildschirmfoto 2021-08-03 um 09 07 56](https://user-images.githubusercontent.com/9267294/127972839-82376ec3-2d5a-4368-8aef-2d482105b7b0.png)

[2021-08-03 07:31] oleksandrsarapulovgl commented on #174
@wearekolossum content of your QR code doesn't follow necessary structure.

Content is the next: https://s.coronawarn.app?v=1#eyJ0aW1lc3RhbXAiOjE2Mjc5Mjc1MjcsInNhbHQiOiIzQkNGMEM4MDFGRkY2NkUwMjA5MjNEMjczNjNBNDVERSIsImhhc2giOiJmZjMzZjdkOWRlMDcwZWMzMWU5NGExNzgwMzRhNzg2YzU1N2Q0ZmJjOWYxNWI3MGYxNzNjN2Y5Mjk0ZTZiMWI4In0

Please get sure your QR code content structure follows the checks done here: https://

[2021-08-03 07:50] wearekolossum commented on #174
Hey @oleksandrsarapulovgl ,

thanks for your response. I generated the code according to https://github.com/corona-warn-app/cwa-quicktest-onboarding/wiki/Anbindung-der-Partnersysteme-ohne-DCC which says that the content of the QR code should be such a link. That's why i asked: are those quicktest link QR codes not verifiable with the app?

And wouldn't it be a good idea to, when the content of the

[2021-08-03 17:18] wearekolossum commented on #174
Hey @oleksandrsarapulovgl , thanks for the info. So i guess quicktest results are just not verifiable with the app.

Thanks anyways and take care
Florian

[2021-08-03 17:18] #174 closed

[2021-08-04 11:55] slamcoderpt opened #179 "Trust Keys List Location"
I have my country trust list. Where do i need to modify the app to use those keys to validate the certificate?

* Source File:
* Line(s):
* Question:

[2021-08-05 04:14] superasty opened #181 "Compile"
I tried to compile the project but I get the message: "Impossibile Scansionare L'applicazione deve connettersi alla rete almeno una volta per essere utilizzata"
And not work.
Is possible use Front camera?
Thanks
Fabio

[2021-08-05 09:27] daniel-eder commented on #181
English translation of error: `Cannot scan, the application must connect to the network at least once to be used`

@superasty this does not look like a compiler error, but rather a runtime issue.

[2021-08-06 01:25] superasty opened #182 "Camera"
Could the front camera be used for the scanner?
How could this be done?

Regards
Fabio

[2021-08-06 06:10] daniel-eder commented on #182
Duplicate of #95
See specifically https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/issues/95#issuecomment-869633164

[2021-08-06 06:10] #182 closed

[2021-08-06 09:53] superasty opened #183 "Compile Error"
## Describe the bug

I have make projet dgca-verifier-app-android-main last version but I read this message:

Could not determine the dependencies of task ':app:lintAccDebug'.

     Required by:
         project :app

          - None of the consumable configurations have attributes.

[2021-08-11 14:30] EdossProject commented on #168
So that code checks the test / vaccine date?

[2021-08-11 14:30] EdossProject commented on #168
So that code checks the test / vaccine date?

[2021-08-19 06:14] TKlauenberg opened #185 "Android - BUG - vaccination, test or rec dates in the future should be hard rejected like in the iOS app. (Different Error Message on DCCs issued in the future)"
## Different Error Message between Android and IOS

For testdata I had created a dcc with the IssuedAt Header (in the Cose Message) in the future. When I am scanning that certificate the IOS Verifier App shows the Error "Certificate Isssuance Date is in the future". The Android App shows "Cryptographic signature invalid".

## Expected behaviour

Both apps show the Error message "Certificate Isssua

[2021-08-19 07:34] SupremaEU opened #186 "Lithuanian QR code is rejected"
## Describe the bug

We try to use Lithuanian QR code and unfortunately we are not able to read it

## Expected behaviour

I guess qr code format is not the same because we get invalid QR code

## Steps to reproduce the issue

![image](https://user-images.githubusercontent.com/89184988/130027197-6a2d6b2b-ec85-497a-b4d4-a1f0a5c17f9d.png)

## Technical details

- Host Machine OS (Windows/Linux/Mac):

[2021-08-19 10:22] LTRemigijus commented on #186
Hello. This is not EU sertificate. This is internal in Lithuania "Opportunity passport" and it is valid only in Lithuania and QR code generated using other private key.
EU sertificate is different and build according EU rules

[2021-08-20 08:34] mdf-dths opened #187 "Verifier shows "date of test" as (UTC) which is incorrect for alternative formats of the timestamp attribute "sc""
Dear Verifier-Team,

„Date of Test” is taken from the attribute „sc“ but it always shows it with the hint (UTC) despite of its format:

Example
"sc": "2021-08-20T10:03:12Z"  -->  Verifier: … 10:00 (UTC) - correct
"sc": "2021-08-20T12:03:12+02:00" --> Verifier:  12:00 (UTC)  - wrong - should be either 12:00 (UTC+2) or 10:00 (UTC)

Please mind the allowed formats of t/sc as specified by https://ec.e

[2021-08-24 15:00] TKlauenberg opened #188 "Verify hcerts with additional data"
## Describe the bug

Hcerts outside of the EU can have additional data which isn't used in the EU Apps.
An Example is in the pull request from Singapore which also stores passport data.
The QR-Code looks like this: ![image](https://github.com/eu-digital-green-certificates/dcc-quality-assurance/raw/fb973c0ec2ee6fcb86d398f266766756bc18f139/SG/1.3.0/VAC.png)

The json looks like this:
[code]

## Expe

[2021-08-24 22:00] RyanDrewTravers opened #189 "Scottish NHS Vaccine Status"
I'm double vaccinated in Scotland but there is currently no QR code on the Scottish NHS vaccine status certificate and also no Scottish Covid Pass. Is there a way to be verified for when travelling in Italy for double vaccinated Scots? There seems to be a general lack of appreciation that there is no such thing as a "UK" QR code but instead there is an England & Wales one, a NI one but no Scottish

[2021-08-25 05:40] daniel-eder commented on #189
@RyanDrewTravers as this GitHub organization is mainly targeted at technical solutions within the EU and third countries, it is unlikely that someone here will be able to answer your question (as the background there is mainly political). You may be best served directing it at your national health authority, or Italy's.

That said, if you visit the slack workspace ( invite can be found in the over

[2021-08-25 05:40] #189 closed

[2021-08-25 09:34] cadaniele opened #190 "Scan diretto"
## Feature description
Buongiorno, vorrei suggerire la possibilità di valutare l’implementazione di recepire il qrcode senza aprire la fotocamera ma direttamente da scanner del dispositivo su cui è installata l'app.
Molti dispositivi che già leggono ad esempio i codici dei biglietti di ingresso potrebbero sfruttare lo scanner del dispositivo senza dover passare dalla fotocamera.
Noi ad esempio usi

[2021-08-25 11:19] daniel-eder commented on #190
This feature is somewhat out of scope for the solution in this repository, as it only aims to be a reference / template implementation for EU member states to use in their own apps. If you would like to see this functionality in VerificaC19, please get in touch with the developers of the app directly to suggest such a feature

[2021-08-25 12:28] #190 closed

[2021-08-26 12:35] denzilferreira opened #191 "Workers are not unique"
## Describe the bug

The WorkManager is enqueue'ing non-unique periodic workers. This means that every time we open the app, we create new workers, leading to many instances of the workers. This overloads the national backends with sync for key requests.

## Expected behaviour

Only one request a day (or another specified interval) and not many requests happening throughout the day. This overloads

[2021-08-31 10:29] EdossProject opened #194 "Test Bug Color"
Wen i try toGreetings,
I tried to scan a test and it comes out green, even though it has expired. Shouldn't it come out red with EXPIRED?
![a3111685-f5c2-4c06-add7-09c8f60c9ac1](https://user-images.githubusercontent.com/88037505/131487216-81fb1b7f-c6fe-4fb8-9080-614622accd03.jpg)

[2021-09-01 07:36] EdossProject opened #196 "Speed Up Timer"
Hi, can i Speed Up time bar for read new Certificate?

[2021-09-02 11:31] #147 closed

[2021-09-07 07:49] MollerAndre opened #203 "NFC not working on some devices"
On several devices NFC sensor is disabled when camera is open (eg. most Samsung and some Nexus models). Since NFC message check is inside code reader fragment it won't work on such devices. NFC check should be moved elsewhere.

[2021-09-08 12:28] lleoncavallo opened #205 "Support to input barcode data directly without decoding a QR Code"
## Current Implementation

This is a reference project and so it could be important to include here all features that could be needed globally. The template of application now supports only the decoding of a QR Code using the smartphone camera and it is a real limitation because many times the solution results very slow. It is not open to different more efficient technologies to decode the QR Code

[2021-09-09 08:41] EdossProject commented on #196
UP!

[2021-09-09 08:42] EdossProject commented on #194
UP!

[2021-09-14 11:04] #191 closed

[2021-09-14 11:47] kerstin-oppermann-tsi opened #210 "Android - BUG - App does not remember selected country in "validate with" list after returning from settings menu"
Verifier App 1.2.0 - tst
Android Samsung S20+

When I select a country as validate with country and after that go to the settings menu and back from that, the selection always is set back to country selected before (the first after fresh opening the app)

**The app should always remember the country selected before.**

![image](https://user-images.githubusercontent.com/81565834/133251710-c4ff66ab-

[2021-09-15 09:37] kerstin-oppermann-tsi commented on #185
Android without debug mode:
![image](https://user-images.githubusercontent.com/81565834/133409017-ee071126-5bf0-4f0d-97a4-fc76e74ddcc4.png)

iOS without debug mode:
![image](https://user-images.githubusercontent.com/81565834/133409145-78a7ddaa-aedf-4b92-bd88-1380add9037d.png)

Android with debug mode:
![image](https://user-images.githubusercontent.com/81565834/133409669-e4ce4941-5df4-421b-8325-133

[2021-09-15 09:39] kerstin-oppermann-tsi commented on #185
@chrloch you can have a look on my provided screenshots of the actual apps. Seems that is not the same message, but the main outcoming is correct for both apps? Or what do you think?

[2021-09-15 12:16] kerstin-oppermann-tsi commented on #185
![image](https://user-images.githubusercontent.com/81565834/133431379-198e03fa-f72f-4424-9960-8aa010642dbb.png)
certificate created on ACC Vaccination 2/2 on 30th of september 2021 (date is in the future)

Android shows that the certificate is valid:
![image](https://user-images.githubusercontent.com/81565834/133431560-1721cc6f-6e38-4b27-8bc6-67904458529b.png)

iOS shows correct that the date is i

[2021-09-15 13:53] kerstin-oppermann-tsi opened #212 "Android - BUG - Rules are not checked on ACC"
During my tests for the issue

https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/issues/185

I recognized that the Android Verifier App doesn’t check against vaccination rules (first it was after reinstallation on TST or ACC but now it is on ACC anytime).
On ACC I never got a vaccination rule check (iOS did) on TST it takes about sometimes 20 minutes till the first rule ch

[2021-09-16 08:44] lucrus73 opened #213 "Verifier library?"
Is there a library that I can use to implement the DGC verification in a web app (such as NodeJS or Angular)? Assuming Typescript language (but any other will do) I'm looking for something like:

[code]
which is not tied to any specific client OS.

[2021-09-16 11:39] daniel-eder commented on #213
There is no web app or library for a web app that are part of this project, the only sample implementations are for Android and iOS.
However you may find code samples and snippets in additional languages and environments here: https://github.com/ehn-dcc-development

[2021-09-16 11:39] #213 closed

[2021-09-17 06:37] Hendrik-Schmidt-Schierhorn-TSI commented on #212
This seems to be an Issue related to the problems we are facing currently with the Backend.

[2021-09-17 07:22] #188 closed

[2021-09-17 09:06] kerstin-oppermann-tsi commented on #212
Works with the new backend environment on ACC with app version provided in app center

[2021-09-17 09:06] #212 closed

[2021-09-17 09:19] kerstin-oppermann-tsi commented on #194
@EdossProject can you check this issue again please?

[2021-09-17 09:23] EdossProject commented on #194
Have you update?

[2021-09-17 09:28] kerstin-oppermann-tsi commented on #185
![image](https://user-images.githubusercontent.com/81565834/133759803-915c8fa0-269d-47a8-aba3-a17d039a6347.png)

Android:
![image](https://user-images.githubusercontent.com/81565834/133760176-94ca9e45-42ee-4b9c-b347-64e0ce3a700b.png)

iOS:
![image](https://user-images.githubusercontent.com/81565834/133760247-25058a34-8e80-49e5-8540-7407e64bc142.png)

At the moment we have this different behaviour

[2021-09-17 09:39] chrloch commented on #185
Bei Android erfolgt die Ablehnung offenbar nur aufgrund der Business Rules. Wenn die nicht korrekt synchronisiert wurden oder ein Land ausgewählt wurde, das keine Regel auf das Impfdatum hat, dann wird es grün.

Meiner Meinung nach sollte Android ein Impfdatum in der Zukunft hart abweisen.

[2021-09-17 09:52] kerstin-oppermann-tsi commented on #185
@chrloch ja stimmt da hast du Recht !!

[2021-09-17 09:55] kerstin-oppermann-tsi commented on #185
@MykhailoNester @oleksandrsarapulovgl @Hendrik-Schmidt-Schierhorn-TSI according the comment of Christian, can you please have a look on this ticket.

On Android, the rejection is apparently only based on the business rules. If they were not synchronized correctly or a country was selected that has no rule on the vaccination date, it will turn to valid and green.

In my opinion, Android should hard

[2021-09-17 10:22] EdossProject commented on #194
If i use C19 app i riceve
![6d9fed3e-46b7-47ca-80b2-4866c340826e](https://user-images.githubusercontent.com/88037505/133767610-cf990a5c-ce1f-49b6-b2b1-2203a77f222c.jpg)

Whit your App:
![bf98d5fd-3fbb-4ef9-bec2-13a87e3d4f9c](https://user-images.githubusercontent.com/88037505/133767648-7988962f-b6fc-444c-9fc7-f2cf426a2513.jpg)

Can I fix ita?

[2021-09-17 10:56] kerstin-oppermann-tsi commented on #194
can you send me your test code?

[2021-09-17 10:58] EdossProject commented on #194
What would it be? What voice do I extract it from?

[2021-09-17 11:09] kerstin-oppermann-tsi commented on #194
The QR Code from your test which you scanned for the result.

[2021-09-17 11:10] EdossProject commented on #194
Find it below
![133767648-7988962f-b6fc-444c-9fc7-f2cf426a2513](https://user-images.githubusercontent.com/88037505/133773184-56bc6221-1cf4-4de5-8557-b3d7546b7258.jpg)
:

[2021-09-17 11:10] EdossProject commented on #194
Find it below
![2aaeddbe-2310-4d5f-babe-db81187fdea0](https://user-images.githubusercontent.com/88037505/133773244-cb25d0e5-d091-4fd4-b201-0cd87872c1cc.jpg)
:

[2021-09-17 11:57] Light2288 commented on #194
@EdossProject @kerstin-oppermann-tsi  i think the reason is that VerificaC19 embeds some custom medical rules for validation, different from the european implementation (because when they were added, there were no european implementation for "medical" validation with business rules, only for "technical" validation)
So for VerificaC19 the DCC is not valid anymore (for italian medical rules, a test

[2021-09-17 12:28] EdossProject commented on #194
In my opinion, a valid solution can be to verify that the test has been performed and check that 48 hours have not passed from the date of issue to that of reading.

[2021-09-17 16:06] #185 closed

[2021-09-20 06:31] #210 closed

[2021-09-22 19:03] ricci69 opened #218 "endpoint return 404 error"
## Describe the bug

The endpoint https://dgca-businessrule-service-eu-acc.cfapps.eu10.hana.ondemand.com/rules is returning 404 error.
The endpoint are declared in file  dgca-verifier-app-android/app/src/acc/assets/verifier-context.jsonc
The APP is not working because it hasn't the certificates.

## Expected behaviour

Return the json response with all the country rules

## Steps to reproduce the

[2021-09-22 19:11] ortorob73 commented on #218
same problem here

[2021-09-22 20:15] saggy18 commented on #218
Also our app stopped working this morning and, after checking, we found to be this same issue. Please put back the missing url so our app can work again, while we update to new code.

It is vital important!!! Our solution is used by schools and we need to finish deliver the app tomorrow. Thanks

[2021-09-23 07:06] psavva commented on #218
@SchulzeStTSI Please review, email also sent with info from Italy

[2021-09-23 07:27] SchulzeStTSI commented on #218
@psavva Thank you very much for forwarding! I've answered him already.

[2021-09-23 07:28] SchulzeStTSI commented on #218
@saggy18 @ortorob73 @ricci69 The ACC Environment is just a test environment, and we switched it off 2 days ago i cause of a very high amount of traffic (the ACC Rules/Certs are not productive, so their value is limited) and to find out who is using it. All offical representives were informed multiple times. The context.json itself needs to be replace by the national endpoints.
To find a solution f

[2021-09-23 07:50] ricci69 commented on #218
I am just a programmer who is trying this program out of curiosity and to see if there are any bugs.
If the test endpoint is down, how can I test it? I was using the green pass from the repository https://github.com/eu-digital-green-certificates/dgc-testdata
Or is there a way to disable this control, since it is not necessary for testing purposes?

[2021-09-23 14:29] RalicaY opened #219 "[Android] No Option for Setting Anonymisation"
## Describe the bug

According to the specification, s. chapter **8.3 Anonymous DCC Export**, the anonymisation of the personal data in the qr code should be selectable by the user of the app and must follow the rules of the DCC Anomaly Capture Process.

At the moment there is no way to select the anonymisation of the personal data by the user of the app.

## Expected behaviour
The anonymisation s

[2021-09-24 12:16] EdossProject opened #220 "Send Notification"
Hi, Can i send notification when certificate is valid or invalid?
Tks!

[2021-09-27 09:24] RalicaY opened #221 "[Android] Valid VAC Code is shown as " Cryptographic Signature Invalid""
## Describe the bug
The following [VAC code ](https://github.com/eu-digital-green-certificates/dcc-quality-assurance/blob/b7d31605aeda1adb805f6bfaed27e126920d3077/AM/1.3.0/VAC.png)is evaluated as INVALID by the Android Verifier with stated reason "Cryptographic Signature Invalid".

Yet, the Code is valid and iOS Verifier accepts it as valid.

## Expected behaviour

Payload is shown and a green VAL

[2021-09-27 09:54] RalicaY opened #223 "[Android] Anonymisation of the Shared Data Seems to Be Random"
## Describe the bug
Anonymisation of the shared data seems to be random: certain personal data is sent  anonymised although no option for anonymisation is set.  Whether the data gets sent anonymised or not is currently depending on the certificate's type and the debug level which has been set.  Yet, here as well, there is no uniform approach.

## Technical details
Android Verifier 1.2.0-RC-1

[2021-09-27 10:06] RalicaY opened #224 "[Android] No Data in Table Format in Debug Mode Level 2"
## Describe the bug
The requirement that all visible fields for the certificates should only be displayed in a table form for the verifier to be seen in the app (and not only in the shared data) from level 2 onwards is not implemented -- see chapter **8.2 "Detail Views"**.
**Current:** instead of as required above, a handful of attributes for ALL levels are shown in the display regardless of the l

[2021-09-27 10:08] MykhailoNester commented on #219
Hi @RalicaY in settings user can select one of three level of anonymization

![device-2021-09-27-130541](https://user-images.githubusercontent.com/9447674/134888723-d815fae1-7a4a-46a4-9dad-2aec5136811e.png)

[2021-09-27 10:24] MykhailoNester commented on #223
When debug mode ON in settings default level of anonymization selected - `Level 1 - normal capture`
You can switch to level 2/3.
But when generate zip file from one certificate two times it should generate same result.

[2021-09-28 10:02] MykhailoNester commented on #223
Preconditions:
select:
- Debug mode ON in settings
- Level 1 - normal capture
- select country: de, ua.
- Validate with: Ukraine

![device-2021-09-28-122941](https://user-images.githubusercontent.com/9447674/135064259-94a23f85-dcbe-4a48-87d8-96a2f8c08ae9.png)

STR for vaccination Level 1.:
Scan this QR code with date in future.

<img width="300" alt="date_in_future" src="https://user-images.github

[2021-09-28 11:46] SchulzeStTSI commented on #221
@RalicaY @chrloch The code contains a additional field "dp" which is not defined in https://github.com/ehn-dcc-development/ehn-dcc-schema/blob/main/DCC.Types.schema.json#L9 Can you please check, why they add this?

[2021-09-28 11:53] RalicaY commented on #221
@chrloch ,  do you know more about this additional field "dp"?
{
  "dob" : "1996-10-11",
  "nam" : {
    "gn" : "ԼԻԼԻԹ",
    "fnt" : "KHACHATRYAN",
    "gnt" : "LILIT",
    "fn" : "ԽԱՉԱՏՐՅԱՆ"
  },
  "ver" : "1.3.0",
  "v" : [
    {
      "tg" : "840539006",
      "is" : "Ministry of Health of the Armenia Republic",
      "co" : "AM",
      "mp" : "EU\/1\/21\/1529",
      "sd" : 1,
      "dp" : 1,

[2021-09-28 14:34] chrloch commented on #221
Additional fields are allowed by the schema and we have agreed that verifiers should ignore them.
Still, I'm also curious what the field means. I'll contact the issuers.

[2021-09-28 15:23] oleksandrsarapulovgl commented on #221
PR with fix: https://github.com/eu-digital-green-certificates/dgca-app-core-android/pull/66

[2021-09-28 15:35] RalicaY commented on #219
@MykhailoNester, the setting You are describing is the level of "Debug Mode".  The "Debug Mode" levels is just for setting the details view, not for anonymisation, please see chapter 8.2 "Details View".

[2021-09-29 08:41] kerstin-oppermann-tsi opened #226 "BUG - Android - In settings menu the selected Debug mode is not remembered when country was selected"
Android Verifier App 1.2.2.(26)
Samsung Galaxy S20plus

**Steps to reproduce**
1. Goto settings menu
2. Goto Debug mode
3. Set debug mode to ON
4. Goto Select country
5. Select one or more countries
6. Tap on DONE

**actual result**
-> Debug mode is set to OFF

**expected result:**
Debug mode should stay in further selected ON mode

![image](https://user-images.githubusercontent.com/81565834/13523

[2021-09-29 11:50] oleksandrsarapulovgl commented on #226
PR: https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/227

[2021-10-01 13:43] simonebinetti opened #229 "Build error"
## Your Question

I tried to build the project with this setup:

- OS: Windows 10 Home 20H2
- Android Studio Arctic Fox 2020.3.1 Patch 2
- Gradle Open JDK 17
- Android SDK build-tools 31

and I got this error during the build process:

java.lang.NoClassDefFoundError: Could not initialize class org.jetbrains.kotlin.com.intellij.pom.java.LanguageLevel
	at org.jetbrains.kotlin.com.intellij.core.CoreL

[2021-10-01 14:57] EdossProject opened #230 "No Download Certificate"
Hi, it is from 27/09/21 that the certificates are no longer downloaded. What may have happened?

[2021-10-01 15:00] ltranvan commented on #223
After discussion with Steffen S. (Author of the SPEC-document) and Hendrik (development) following resolution:
- Anonymization option is coupled to the debug mode option. (means there is no extra option for anoynmization).
- Anonymization is only used for personal data in the shared files only for debug level 1 and level 2.
-So in case that the software is implemented correctly as described above,

[2021-10-01 15:06] ltranvan commented on #219
After discussion with Steffen S. (Author of the SPEC-document) and Hendrik (development) following resolution:
- Anonymization option is coupled to the debug mode option. (means there is no extra option for anoynmization).
- Anonymization is only used for personal data in the shared files only for debug level 1 and level 2.
- The anonymisation option should be selectable only by the user of the Ve

[2021-10-04 06:52] EdossProject commented on #230
UP!

[2021-10-04 12:12] oliversaggau commented on #230
The used servers https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/blob/main/app/src/acc/assets/verifier-context.jsonc#L22 and https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/blob/main/app/src/tst/assets/verifier-context.jsonc#L22 give 404

[2021-10-04 12:13] EdossProject commented on #230
Do you have a solution to solve?

[2021-10-04 12:16] oliversaggau commented on #230
Nope, unfortunately not. I used those servers myself and don't know what happened or if there are other servers/mirrors we could use.

[2021-10-04 12:17] EdossProject commented on #230
C19 app work, can you use it?

[2021-10-04 12:17] EdossProject commented on #230
If you wont, i have repo.

[2021-10-04 12:27] EdossProject commented on #230
I have found this online: https://get.dgc.gov.it/v1/dgc/signercertificate/update

[2021-10-04 13:20] daniel-eder commented on #230
Please see https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/issues/218#issuecomment-925566524
The test environment is a service provided for the EU member states and countries in the official onboarding process.
Due to the high amount of traffic it is only available during limited periods for testing in schedule with the EU onboarding processes.

[2021-10-04 13:20] #230 closed

[2021-10-05 07:14] EdossProject commented on #218
Hi, is it possible to have ENDPOINTS for Italy? Our solution is available in restaurants and other outlets.

[2021-10-05 07:53] daniel-eder commented on #218
@EdossProject please view https://github.com/eu-digital-green-certificates/dgc-participating-countries/issues/10 for more information on this.

Simply put, for Apps hosted in italy you need to get in touch with Italy's national health authority to organize official access to their national backend.

[2021-10-05 14:12] RalicaY commented on #224
Successfully retested ,
Verifier App 1.2.4-acc (28)
Galaxy XCover 4, Android 9

[2021-10-05 14:12] #224 closed

[2021-10-05 14:13] RalicaY commented on #223
Successfully retested,
Verifier App 1.2.4-acc (28)
Galaxy XCover 4, Android 9

[2021-10-05 14:13] #223 closed

[2021-10-05 14:14] RalicaY commented on #219
Successfully retested,
Verifier App 1.2.4-acc (28)
Galaxy XCover 4, Android 9

[2021-10-05 14:14] #219 closed

[2021-10-05 14:15] RalicaY commented on #221
Successfully retested,
Verifier App 1.2.4-acc (28)
Galaxy XCover 4, Android 9

[2021-10-05 14:15] #221 closed

[2021-10-12 12:00] MykhailoNester commented on #183
From this error I see that you don't have  project `:engine`

Please check Build section from readme:
https://github.com/eu-digital-green-certificates/dgca-verifier-app-android#build

In your case `dgc-certlogic-android` - is missing

[2021-10-28 14:24] kerstin-oppermann-tsi opened #234 "PRIO 1 - Android Verifier - New Business Rule for call back certificates does not work in Android"
We have added a new business rule for calling back some certificates

https://dgca-businessrule-service-eu-acc2.cfapps.eu10.hana.ondemand.com/rules/DX/ee66be32d164c200c386584461a6d177491e63789042c40041553e200403d7c9

On iOS Verifier the rule works and on Android not.

According QR Code on ACC:
![image](https://user-images.githubusercontent.com/81565834/139275272-6fa16e3d-2bd8-4366-a9d6-da2b7830288

[2021-10-29 08:58] #234 closed, assigned to Hendrik-Schmidt-Schierhorn-TSI, oleksandrsarapulovgl

[2021-10-30 07:46] mkosunen commented on #205
I second this. I'd like to test how this works with NFC implant on which I have stored the data from the QR-code.

[2021-11-08 09:28] psavva opened #238 "Google Play's target API level requirement - SDK 30"
According to Google: https://developer.android.com/distribute/best-practices/develop/target-sdk
Starting in August 2021, new apps will need to target API level 30 (Android 11) or above and adjust for behavioral changes.

Behavioral Changes are documented here:
https://developer.android.com/about/versions/11/behavior-changes-11

Please can you update the dgca-verifier-app-android to support Target

[2021-11-08 10:47] psavva commented on #238
It seems that as of Android 11, and SDK30, there is a bug in the okHttp library:
https://stackoverflow.com/questions/63917431/expected-android-api-level-21-but-was-30

Furthermore, found the github issue here:
https://github.com/square/okhttp/issues/6612

Android 11, and enforcing SDK30 will suffice this bug.

@SchulzeStTSI  Please can you have someone else update the library as a matter of urgenc

[2021-11-09 04:37] chauhan-rohit opened #239 "Verify DGC through third-party service"
Hello @MykhailoNester ,

I am from an airline IT team and we are creating an application to use DGC for retrieving Vaccination information. This information is needed to determine whether traveler is allowed to fly to particular destination based on destination country covid rules. We are able to decode the DGC QR code using the standard libraries but struggling with Verification process. We refer

[2021-11-10 07:06] daniel-eder commented on #239
In order to verify a DGC you need access to the public keys. To that end you need at least one country, usually the country you are operating from, to give access to their list. You can find a discussion on this topic, with public lists and further information here: https://github.com/eu-digital-green-certificates/dgc-participating-countries/issues/10

[2021-11-12 07:58] psavva commented on #238
[code]

[code]

[code]

[2021-11-12 14:47] #238 closed

[2021-11-15 09:50] psavva opened #241 "Android SDK 30 - November 1 Mandatory - External Links Issue"
Links do not work after SDK 30

Fix is required to add in the AndroidManifest.xml:

[code]

[2021-11-18 20:11] igmer opened #243 "Where are the pubKeys"
## Your Question

Where are the pubKeys? I have a config.json file, in this file I need to put the keys but I don't understand where I can find them

         "pubKeys": [
              "lKdU1EbQubxyDDm2q3N8KclZ2C94Num3xXjG0pk+3eI=",
              "r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="
           ]

* Source File:
* Line(s):
* Question:

[2021-11-19 08:35] psavva opened #244 "White Space Trimming of the DCC Json payload"
Some countries (GR so far) have produced Payloads which include trailing spaces within the json payload values.

eg:  space "mp": "EU/1/20/1528 "
Notice the empty space after the 1528.

1000s of such certificates are uncovered by foreigners causing invalidations,

Recommendation is to trim all whitespaces when executing business rules validations in the verifier apps

[2021-11-19 12:04] daniel-eder commented on #243
Please see https://github.com/eu-digital-green-certificates/dgc-participating-countries/issues/10

[2021-11-19 12:04] #243 closed

[2021-11-22 08:31] psavva commented on #244
Dear TSi

Any update on this issue, we have some 1000s of Greek DCC affected, and it's causing issues for our validators in Cyprus.

[2021-11-22 15:07] daniel-eder commented on #244
@psavva brought this to the attention of our developers again to find out how to proceed with this

[2021-11-23 15:07] craftbyte opened #245 "Wrong handling of Issuer CN fields in getIssuerCountry"
## Describe the bug

The app calls `val keys = issuerX500Principal.name.split(",")` in the getIssuerCountryFunction. This does not handle escaped commas that are valid as per X509 spec. This makes the app crash on Slovenian certificates, as the issuer name is `C=SI, O=NIJZ\, National Institute of Public Health of Slovenia, OU=NIJZ eHealth, CN=Slovenian Digital Covid Certificate CSCA` with an index

[2021-11-23 15:59] craftbyte opened #246 "NFC specification"
Since the technical specification doesn't say that the NFC data should be ZLIB encoded, wouldn't the correct storage that the app reads be the CWT directly binary encoded (no Base45 and zlib)?

See Electronic Health Certificates 2021-04-18 section 4.1 and 4.2. I believe NFC falls under 4.1

[2021-11-24 08:43] daniel-eder commented on #246
@SchulzeStTSI can you answer this?

[2021-11-24 08:50] psavva commented on #244
Hi @daniel-eder, any news?

[2021-11-24 09:08] daniel-eder commented on #244
@psavva I did not receive any update on it yet, but I am bringing it up again today

[2021-12-05 03:10] craftbyte commented on #246
Any updates on this? Are there at least internal discussions, @daniel-eder?

[2021-12-06 11:39] daniel-eder commented on #246
@craftbyte I have not received an update on it, but just got in touch with @SchulzeStTSI to see if there is an update. We'll post here once there's an answer

[2021-12-06 12:52] SchulzeStTSI commented on #246
@craftbyte We transmit the DCC as entire HC1 string, because we dont want to make assumptions about the receivers (which must be able to encode/zip it). The entire string can be consumed directly, and rendered as QR code without any other actions. If some receivers wants to store it binary, they can strip off the additional layers.

[2021-12-09 15:17] simudvarac commented on #218
@SchulzeStTSI Could you please be so kind and point me to the right representatives for Germany? We are working on a 2G checking solution and need some official Endpoint to connect to. Thank you!

[2021-12-13 22:20] loic86 opened #247 "Certificate or Pass? Assessment of the impact on society of the certificate."
Hi guys,
I have a question.
Based on the [Regulation 2021/953](https://eur-lex.europa.eu/legal-content/EN/TXT/?toc=OJ%3AL%3A2021%3A211%3ATOC&uri=uriserv%3AOJ.L_.2021.211.01.0001.01.ENG) that institutes the "EU Digital Covid Certificate" basically states that the main 2 goals are:
1) Facilitate Free movement and Travel between states, so a control limited in the scenario of cross-border controls.
2

[2021-12-14 08:08] daniel-eder commented on #247
While a discussion about impacts of this technology certainly is merited, I am sorry to say, this is not the right place for it. In this GitHub organization we focus on the implementation and technical challenges, not the political and ethical side of things.

As we do not have the capacity to moderate such discussions and keep them in line with our code of conduct I will close this issue, but I h

[2021-12-14 08:08] #247 closed

[2021-12-14 10:39] loic86 commented on #247
Hi Daniel,
Thank you for your answer.
I understand what you are saying, but IMHO I believe that a retrospective analysis is needed and would be of big value, if you really believe on the open source philosophy, to keep it open and transparent, especially in the case of this tool, is not a normal IT project, is a project with an unprecedented impact on society which is being greatly abused from the

[2021-12-15 10:09] psavva commented on #244
@daniel-eder, we still facing this issue, and would really need advise how to proceed as we are utilizing the Template applications.
We can go ahead and implement a fix ourselves, but i'm not certain that it should be done.

Please  may I ask that this is reviewed, we have raised this impacting issue almost a month ago, with no response from TSi developers.

@SchulzeStTSI  Please can you advise on

[2021-12-16 09:01] daniel-eder commented on #244
@psavva The latest update I got is that this issue was reviewed and a developer suggested a potential fix / way forward.
Apparently this was not approved yet, but I just requested that the persons involved look at it again or provide a status update.

[2021-12-16 09:49] daniel-eder commented on #244
Our developers just brought me up to speed, the android app uses https://github.com/ehn-dcc-development/dgc-business-rules/tree/main/certlogic for the validation and they are working with the assumption that the whitespace cleanup happens or should happen in that libarary.

@dslmeinte can you weigh in on this? Should we move the issue over there, or are additional steps necessary before handing ov

[2021-12-17 21:21] loic86 opened #248 "Italy is overriding the Green Certificate for international mobility by asking a test to enter the country, ignoring the green certificate"
Hi,
Italy is now restricting the policy of the "green certificate", called "green pass" there, to just the "2G" rules, completely removing the article 6 of the [Regulation (EU) 2021/953](https://eur-lex.europa.eu/legal-content/EN/TXT/?toc=OJ%3AL%3A2021%3A211%3ATOC&uri=uriserv%3AOJ.L_.2021.211.01.0001.01.ENG), the rule that create this tool.
If this is not enough, then the Italian government, to pr

[2021-12-20 07:24] daniel-eder commented on #247
Hi oic86,

I'll respond here to both your update and the new ticket #248.
Naturally, people working on this project also hold their own views in regard to how it develops, however due to the target audience (developers, not politicians) such discussions do not take place here.

Due to our role in this project as contractors we are also not in a position to influence policy - we have no say in ques

[2021-12-20 07:25] daniel-eder commented on #248
Hi loic86,

Our stance in regard to this not being a platform for political discussion is unchanged.
To avoid duplication, please also see my latest comment on https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/issues/247#issuecomment-997663087 that elaborates a bit further on this.

[2021-12-20 07:25] #248 closed

[2021-12-21 08:36] psavva commented on #244
@daniel-eder  Any updates?  Whitespace cleanup isn't happening, of course :)

[2021-12-21 08:52] dslmeinte commented on #244
@daniel-eder Sorry, I missed the ping.

Any whitespace cleanup should be part of the standardised DCC framework. Specifically, it should be defined in a new version of this document: https://ec.europa.eu/health/sites/default/files/ehealth/docs/covid-certificate_json_specification_en.pdf
_If_ whitespace cleanup is made part of the framework, it should be done for _backward compatibility only_: issu

[2021-12-21 10:07] daniel-eder commented on #244
@dslmeinte thank you for your input, it makes sense to introduce this on a spec level and not just ad hoc.
@psavva I'll bring it up with our people that work with the spec, but in order for it to be seriously considered and discussed, it would be good to lobby for it from your end as well

[2021-12-29 16:52] #245 closed

[2022-01-14 12:39] andreaunidos opened #262 "App does not start"
I am trying to start the application, I have followed all the steps of the documentation but I am getting this error:

**FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':dgc-sdk:compileDebugJavaWithJavac'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insight

[2022-01-19 15:40] stoconnor opened #264 "Janssen Booster Covid Certificates fail verification"
Booster certificates where the original vaccine was Janssen fails verification.

The Digital Covid Certificate appears as 2 of 1 doses. Number of doses is 2 and Total doses is 1 where it refers to the booster.

The certificate is as per European recommendation set out here:

https://ec.europa.eu/commission/presscorner/detail/en/ip_21_6837

"Boosters will be recorded as follows:

3/3 for a booster

[2022-02-17 23:00] CarmineThoeni opened #281 "History is a teacher no one listens to. Those who ask for The covid pass are NAZIS, and also those who make it technically possibile."
EU=NAZI BUREAUCRATS

## Describe the bug

## Expected behaviour

## Steps to reproduce the issue

## Technical details

- Host Machine OS (Windows/Linux/Mac):

## Possible Fix

## Additional context

[2022-02-22 09:04] RalicaY opened #283 "[Android-Verifier-App] Expired Revocation Leads to Certificates being still Evaluated as Revoked"
## Describe the bug

The following QR code was revoked on Friday 18 Feb 2022 (revocation entry was uploaded to the gateway). This revocation entry expired on 02/20/22 (Sunday) at 3 p.m. If I check this QR code with the current Android Verifier app today (22.02.22), I still get the result "Revoked", even though the revocation entry expired on 18.02.22.

## Expected behaviour

Code should be evaluat

[2022-02-22 14:37] MykhailoNester commented on #283
For UCI hash we have such expiration dates:
expires=2022-08-16T16:00Z
expires=2023-02-18T15:00Z

For COUNTRYCODEUCI has:
expires=2022-08-16T16:00Z
expires=2023-02-18T15:00Z

For SIGNATURE hash:
expires=2022-02-20T15:00Z. - this one should be deleted.

Fixed in PR:
https://github.com/eu-digital-green-certificates/dgca-verifier-app-android/pull/284

On each app launch we will check expiration dates

[2022-02-22 18:14] RalicaY opened #285 "[Android-Verifier-App] Certificates still Evaluated as "Revoked" after Deletion of Revocation Entry"
The following Certificate gets evaluated as "revoked" although its  corresponding revocation entry was deleted from the gateway.

## Expected behaviour

The certificate must be evaluated as "valid".

![VAC_B12](https://user-images.githubusercontent.com/76050122/155193715-17e86d70-3679-4203-b70d-ab890c51712b.png)

## Technical Details
Galaxy XCover 4, Android 9
DGCA Verifier for Android, Version: 1

[2022-02-23 09:53] MykhailoNester commented on #285
@RalicaY  could you test today once more?
Application synchronizes once per day. I tested it today and it shows `Cryptographic signature invalid` because it is version without `signature-verification`

[2022-02-23 10:02] RalicaY commented on #285
@MykhailoNester  Today  (scanned at 11:02, 23. Feb, 22) it is still shown as "revoked".

[2022-02-23 10:52] MykhailoNester commented on #285
Tested again when data on device reloaded was able to reproduce it `revoked` on my device as well.

Revocation validation flow:
SIGNATURE Hash: **8bd49e3565a239494acb0f7c17e58f40**
Slice found:
DccRevocationSlice(sid=**e13c98433f85838457844197c55f12ce9ac2835b0a131599cd845ed966d3fddf**, kid=/JdNkm+G0Fg=, x=null, y=null, cid=8, type=BLOOMFILTER, version=1.0, expires=2023-02-18T15:00Z, content=[0, 1,

[2022-02-25 11:57] RalicaY commented on #283
Retest Successful, Checked with Code VAC_A2a, revocation expired on '2022-02-24T15:00:00Z'
![VAC_A2A](https://user-images.githubusercontent.com/76050122/155711348-97fee09b-08ba-4c3b-a128-0fbcec9777c6.png)

[2022-02-25 11:57] #283 closed

[2022-02-25 16:45] RalicaY commented on #285
Successfully retested.

[2022-02-25 16:45] #285 closed

[2022-03-01 12:00] RalicaY opened #288 "[Android Verifier App] Local Delete Workflow for Expired Revocations on Verifier App does Not Start Automatically"
Local Delete Workflow for Expired Revocations on Verifier App does not start automatically even after more than 24 hours offline (internet switched off) although according to the specification ( (Verfier Workflow, Spec. Chapter 1.3 "Delete expired revocation entries") it should take place.

## Describe the bug
1)  Verifier  was newly installed on 28.02.2022 at  11:40  -> Then, we scanned and the f

[2022-03-01 12:03] RalicaY opened #289 "[Android Verifier App] No NB-Synchronisation after Being more than 24 Hours Offline"
After more than 24 hours without internet, the internet is switched on but the Verifier App still does NOT synchronise with National Backend.

Uploading wf_verifier_internet_on.mp4…
![VAC_Batch13](https://user-images.githubusercontent.com/76050122/156185190-688470a9-8be5-4c11-a089-930994c1710b.png)
## Describe the bug
1) Verifier newly installed 28.02.2022 at 11:40 -> certificate was shown as revo

[2022-03-01 15:37] RalicaY commented on #289
It turned out that when I force-stopped and restarted the app, it did synchronise with the National Backend, so I am closing this ticket.

[2022-03-01 15:37] #289 closed

[2022-03-08 09:49] chrloch opened #291 "[ACC] Revocation fails for ES"
## Description
We have revoked sample codes from DE and from ES.
DE QR codes are correctly displayed as revoked when scanned.
ES QR codes are shown as valid although revocation batch exists on ACC

## Expected behaviour

Revoked QR codes should appear as revoked

## Steps to reproduce the issue

Go to https://github.com/eu-digital-green-certificates/dcc-quality-assurance/pull/289/files
Scan the QR

[2022-03-08 12:32] MykhailoNester commented on #291
Hi @chrloch

For DE certificate. `Signature` type hash was found in one slice. So result is `certificate revoked`. Logs:

[code]

And for `ES` certificate revocation flow fails on first step where we check KID metadata: `B4BbJQx1lYQ=` no such KID in database.

Available KIDs from backend:

[code]

[2022-03-08 13:12] chrloch commented on #291
Hi @MykhailoNester

do you use a different database in the revocation service than for the verification?
The KID `B4BbJQx1lYQ=` is on the gateway and the Verifier App can get it from its backend because it validates the DCCs as green which are signed with it.

[2022-03-09 06:49] chrloch commented on #291
The Batches seem to be missing in the validation service

[2022-03-09 06:49] #291 closed

[2022-03-24 21:05] MykhailoNester commented on #288
Code that fixes this issue was added on 9.03.2022. So probably it is already fixed.
Found one issue with time during downloading process. I'll prepare PR with changes.
Another issue related to `eTag` when we receive 304 code `eTag` was removed and cause next api calls to fail.

Additionally added in settings page time of last revocation sync. and button to refresh data.
When you press reload butto

[2022-03-25 07:02] RalicaY commented on #288
@MykhailoNester, thank you very much!
@ltranvan @Hendrik-Schmidt-Schierhorn-TSI, can we get this PR merged in a new release for testing?

[2022-03-25 08:09] ltranvan commented on #288
from my point of view (testing) asap for test. Please for both version: Bloomfilter AND Hash-List.
@Hendrik-Schmidt-Schierhorn-TSI and you?

[2022-03-29 10:21] #229 closed

[2022-03-29 10:24] #194 closed

[2022-03-29 10:24] #183 closed

[2022-03-29 10:25] #163 closed

[2022-03-29 10:25] #89 closed

[2022-03-30 10:24] kerstin-oppermann-tsi commented on #264
@stoconnor is this relevant anymore? If yes can you provide screenshot for this. For me it is working with Janssen 2/1.
![image](https://user-images.githubusercontent.com/81565834/160810537-3f74a815-c649-42c6-9ea0-9fa4c6889ff4.png)

[2022-03-30 17:10] kerstin-oppermann-tsi commented on #288
@RalicaY can you please retest with newest release Version 1.3.1-tst (46)

[2022-03-31 11:42] RalicaY commented on #288
@MykhailoNester We have the situation where the verifier is standalone (no internet).
Our question: when does exactly the Verfier-WorkFlow take place, so that it looks in its own local  app Revocations-DB which entries are already expired and that it knows that they must be deleted from the revocation list? Is this a synchronous event or is it triggered by some process? If it is synchronous at wha

[2022-03-31 12:36] MykhailoNester commented on #288
@RalicaY
The flow is next:
- On fresh install when user launches app it will start sycnhronization process which loads all keys etc. and revocation data. It will also schedule worker that responsible for next sync. this worker has constraints it will start once per DAY and internet connection should be connected. It means there is no exact time when sync. happens but it will be close to the hour w

[2022-03-31 12:38] MykhailoNester commented on #288
To check if revocation data was updated by worker you can open settings to see `last updated time` close to revocation data update button.

[2022-03-31 13:23] RalicaY commented on #288
Successfully retested for Version 1.2.4-tst (43) and Version 1.3.1-tst (46)

[2022-03-31 13:23] #288 closed

[2022-04-08 09:00] stoconnor commented on #264
Re-tested this and it's working for me also. Thanks! Closing issue 👍 🚀

[2022-04-08 09:00] #264 closed

[2022-04-13 11:36] RalicaY opened #301 "[Android-Verifier-App] Scanning of QR-Codes Not Possible"
## Describe the bug

When I scan a QR Code, I get the error:  "Diese Aktion kann von keiner App ausgeführt werden". (see attached video)

## Technical Details
Android Verifier App Version 1.3.1-tst (51)
Galaxy XCover 4, Android 9

https://user-images.githubusercontent.com/76050122/163171691-d10c4024-a295-4074-82db-29e401bee402.mp4

[2022-04-21 11:53] RalicaY commented on #301
@MykhailoNester We have found out, that this happens only on certain older devices in comnination with having additionally installed the DGCA wallet app together with the verifier app on the same device.  When we deinstalled the wallet app, the issue disappeared and the verifier app worked correctly.

[2022-04-21 12:02] RalicaY opened #303 "[Android-Verifier-App] Updating IssuerList is Not Possible"
## Describe the bug
There is no possibility to update the issuer list in the Verifiable Credentials (VC) area.  See attached Video.

## Technical details
Verifier App for Android Hash List Version 1.4.0 (54) and Verifier App for Android Bloom Filter Version 1.4.0 (53)

https://user-images.githubusercontent.com/76050122/164453974-3621e0bb-0407-4758-bb01-174230ed5f32.mp4

[2022-04-21 14:21] RalicaY opened #304 "[Android-Verifier-App] App Crashed after reading a JWT with a Null Value"
## Describe the bug

App crashed after scanning a JWT with a null value in nbf.

## Expected behaviour

## Steps to reproduce the issue

## Technical details

- Host Machine OS (Windows/Linux/Mac):

## Possible Fix

## Additional context

[2022-04-22 10:02] RalicaY opened #305 "[Android Verifier App] Granting Consent to Issuer not in IssuerList leads to Invalid Signature"
## Describe the bug

We scanned the following Claim whose Issuer was not on the App's IssuerList.  The app correctly recognized this fact and asked us whether we want to grant consent.  After granting consent the JWT wa still evaluated as invalid. The issue exists both for Hash and Bloom Filter versions.  See attached video.

## Expected behaviour

The trust issuer for which the consent was grante

[2022-04-22 10:22] RalicaY opened #306 "Valid but no content displayed"
## Describe the bug

## Expected behaviour

## Steps to reproduce the issue

## Technical details

- Host Machine OS (Windows/Linux/Mac):

## Possible Fix

## Additional context

[2022-04-22 10:56] MykhailoNester commented on #305
@RalicaY
Issuer in QR: https://files.emilina.de/dcctestdata/my-issuer
Resolved: https://files.emilina.de/dcctestdata/my-issuer/.well-known/did.json

when you open resolved url it show 404 error so no valid jwk for signature check as a result it is invalid signature error.

[2022-04-22 11:24] MykhailoNester commented on #305
I found issue it is related to JWK optional/required fields.
Will be fixed in next version.

[2022-04-22 11:28] chrloch commented on #305
If we have documented which fields in a JWK are expected, we can also adapt the JWKS - but it needs to be documented what fields the app needs :-)

[2022-04-22 12:00] MykhailoNester commented on #305
@chrloch for now only `kty` and `kid` required

[2022-04-22 14:01] MykhailoNester commented on #305
Fixed in build: 1.4.1-tst-bloom (55) (56)

[2022-04-22 14:05] MykhailoNester commented on #303
For now I removed this empty settings page for VC. Discussed it with Hendrik and also Steffen mention that it is not must have feature. But it is good have this. So we can convert this `bug` ticket into `task` and implement as soon as all high prio tasks will be completed.

[2022-04-22 14:06] MykhailoNester commented on #304
@RalicaY Fixed in
1.4.1-tst-hash (55)(56) builds

[2022-04-25 08:51] RalicaY commented on #305
Successfully tested, Android Verifier  1.4.1-tst-bloom (56) and Version 1.4.1-tst-hash (55)

[2022-04-25 08:51] #305 closed

[2022-04-25 09:00] RalicaY opened #307 "[Android Verifier App] Consent Grant is Asked For On Second Scanning Although Consent Had Been Granted On Previous Scan Already"
## Describe the bug

We scanned a Verifiable Credential whose issuer was not on the Issuers' List and granted consent. This way, we could successfully read the Verifiable Credential's data.

Then, we scanned the same Verifiable Credential again -- the app asked us again for consent (although we had already granted consent at the first time when we scanned).

## Expected Behaviour
Once we have gran

[2022-04-25 09:13] RalicaY commented on #304
Sucessful  retest Android Verifier 1.4.1-tst-bloom (56) and Version 1.4.1-tst-hash (55)

[2022-04-25 09:13] #304 closed

[2022-04-27 13:29] MykhailoNester commented on #307
Fixed in 1.4.2 (57)(58)

[2022-04-29 08:30] MykhailoNester commented on #301
Fix available in build: 1.3.2-tst-hash (60)

[2022-05-03 12:19] MykhailoNester commented on #301
Latest build: 1.3.2 (61)

[2022-05-03 12:19] MykhailoNester commented on #307
Latest build: 1.3.2 (61)

[2022-05-04 12:17] RalicaY opened #311 "[Android-Verifier-App] Fulfilled Business Rule is Evaluated as OPEN"
## Describe the bug

We have scanned a Vac DCC to test the Business Rule VR-DX-0004.  We scanned a certificate (see attached cert) where the birthdate is  01.01.2010.  Since the person is less than 18 years old as of today , in accordance with the rule, the Grundimmunisation is still valid and does not expire after a certain MAX number of days.  This is why the rule must evaluate as truel

Neverth

[2022-05-04 12:48] ltranvan commented on #311
INF: Ticket blocks currently all test cases for checking VR4-BR with the new cert-logic applied on birthdate field.

[2022-05-04 12:54] RalicaY commented on #301
Successfully retested 1.3.2(61)

[2022-05-04 12:54] #301 closed

[2022-05-04 13:54] ltranvan commented on #307
tvt, 04.05.2022: pos. retested with HASH-Verion (tvt) and Bloom-Version (Ralica).

[2022-05-04 13:54] #307 closed

[2022-05-06 15:47] ltranvan commented on #311
Retest successfully caried out.

[2022-05-06 15:47] #311 closed

[2022-05-09 12:49] kerstin-oppermann-tsi commented on #303
@RalicaY you can check this is version 1.3.2(61)

[2022-05-10 07:05] RalicaY commented on #303
Successfully retested for Android Verifier 1.3.2 (61) Hash

[2022-05-10 07:05] #303 closed

[2022-05-10 07:23] ltranvan commented on #303
tvt, 10.05.2022: additional info:  Retest successfully with Verifier 1.3.2(61) (Bloom-version!).

[2022-05-17 14:25] #218 closed